schema/dtd/mathbook.dtd

<!-- ********************************************************************* -->
<!-- Copyright 2016                                                        -->
<!-- Robert A. Beezer                                                      -->
<!--                                                                       -->
<!-- This file is part of MathBook XML.                                    -->
<!--                                                                       -->
<!-- MathBook XML is free software: you can redistribute it and/or modify  -->
<!-- it under the terms of the GNU General Public License as published by  -->
<!-- the Free Software Foundation, either version 2 or version 3 of the    -->
<!-- License (at your option).                                             -->
<!--                                                                       -->
<!-- MathBook XML is distributed in the hope that it will be useful,       -->
<!-- but WITHOUT ANY WARRANTY; without even the implied warranty of        -->
<!-- MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the         -->
<!-- GNU General Public License for more details.                          -->
<!--                                                                       -->
<!-- You should have received a copy of the GNU General Public License     -->
<!-- along with MathBook XML.  If not, see <http://www.gnu.org/licenses/>. -->
<!-- ********************************************************************* -->

<!-- ##################################################################### -->
<!-- 2016-01-27:     This is PRELIMINARY and SUBJECT TO CHANGE.            -->
<!-- It is only here for safe-keeping, even if it is close to complete.    -->
<!-- ##################################################################### -->

<!-- http://www.sagehill.net/docbookxsl/ValidXinclude.html -->
<!-- * = zero or more, + = one or more, ? = zero or one -->

<!-- #PCDATA *must* be used inside of (  )* as first part, can augment -->
<!-- http://stackoverflow.com/questions/2803142/why-is-this-not-a-valid-xml-dtd-parameter-entity-and-pcdata -->

<!-- #################### -->
<!-- Convenience Entities -->
<!-- #################### -->

<!-- Titles, Captions and simple text -->
<!-- Elements that could be inside a single line of text -->
<!-- For example, an <ndash>, but not a <me>             -->
<!-- Precede these by a #PCDATA, wrap with ( )*          -->
<!ENTITY % characters "nbsp|ndash|mdash|ampersand|less|greater|hash|dollar|percent|circumflex|underscore|lbrace|rbrace|tilde|backslash|lq|rq|lsq|rsq|ellipsis|copyright|ie|eg|etc|circa|tex|latex|webwork|trademark|registered|today|timeofday">
<!ENTITY % markup "xref|url|m|c|em|alert|q|sq|term|foreign|quantity|acro|booktitle">
<!ENTITY % line "%characters; | %markup;">

<!-- Multiline Content -->
<!-- Addresses, attributions, other content     -->
<!-- that is not a constituent of a paragraph,  -->
<!-- but which always could be naturally broken -->
<!-- into several lines.  We just add a         -->
<!-- "hard break" to lines.                     -->
<!ENTITY % multiline "%line;|br">

<!-- Sentences, Paragraph Content -->
<!-- Elements that can be contained in a typical paragraph    -->
<!-- Everything that is title material, plus more (eg me)     -->
<!-- var and answer are exclusive to "p" in a WeBWorK problem -->
<!-- Precede by a #PCDATA, wrap with ( )*                     -->
<!ENTITY % sentence "%line;|me|men|fn|index|notation|var|answer">

<!-- Paragraphs -->
<!-- Elements that can mix anywhere with a paragraph, -->
<!-- such as in the statement of a theorem or a proof -->
<!-- For example <md> yes, but <theorem> no           -->
<!ENTITY % para "p|md|mdn|ul|ol|dl|blockquote|pre|sidebyside|sage|figure|table|listing|poem|program|console|image|tabular">

<!-- Blocks -->
<!-- Top-level descendents of structural elements                             -->
<!-- Everything like a paragraph, but also more substantial                   -->
<!-- These items cannot be contained in anything but a structural subdivision -->
<!-- Note: the "todo" element is in this list                                 -->
<!ENTITY % block "%para;|paragraphs|theorem|corollary|lemma|algorithm|proposition|claim|fact|definition|conjecture|axiom|principle|remark|example|exercise|contributors|list-of|solution-list|notation-list|todo">


<!-- ######### -->
<!-- Structure -->
<!-- ######### -->

<!ELEMENT mathbook (docinfo, (book|article))>
    <!ATTLIST mathbook xml:lang CDATA #IMPLIED>

<!-- A book may be a list of chapters or a list of parts -->
<!ELEMENT book (title, subtitle?, frontmatter, ((chapter+, backmatter?)|(part+, backmatter?)))>
    <!ATTLIST book xml:id ID #IMPLIED>

<!ELEMENT article (title, subtitle?, frontmatter?, (section|exercises|references)+, backmatter?)>
    <!ATTLIST article xml:id ID #IMPLIED>

<!ELEMENT part (title, index*, chapter+)>
    <!ATTLIST part xml:id   ID       #IMPLIED>
    <!ATTLIST part xml:base CDATA    #IMPLIED>

<!ELEMENT chapter (title, index*, author*, ((%block;)*|(introduction?,(section|exercises|references)+,conclusion?)))>
    <!ATTLIST chapter xml:id   ID       #IMPLIED>
    <!ATTLIST chapter xml:base CDATA    #IMPLIED>

<!ELEMENT section (title, index*, author*, ((%block;)*|(introduction?,(subsection|exercises|references)+,conclusion?)))>
    <!ATTLIST section xml:id   ID       #IMPLIED>
    <!ATTLIST section xml:base CDATA    #IMPLIED>

<!ELEMENT subsection (title, index*, author*, ((%block;)*|(introduction?,(subsubsection|exercises|references)+,conclusion?)))>
    <!ATTLIST subsection xml:id   ID       #IMPLIED>
    <!ATTLIST subsection xml:base CDATA    #IMPLIED>

<!ELEMENT subsubsection (title, index*,  author*, (%block;)*)>
    <!ATTLIST subsubsection xml:id   ID       #IMPLIED>
    <!ATTLIST subsubsection xml:base CDATA    #IMPLIED>

<!ELEMENT title    (#PCDATA|%line;)*>
<!ELEMENT subtitle (#PCDATA|%line;)*>

<!ELEMENT introduction (title?, index*, (%block;)*)>
<!ELEMENT conclusion   (title?, index*, (%block;)*)>


<!-- ##### -->
<!-- Lists -->
<!-- ##### -->

<!ELEMENT ul (li+)>
    <!ATTLIST ul cols  CDATA #IMPLIED>
    <!ATTLIST ul label CDATA #IMPLIED>
<!ELEMENT ol (li+)>
    <!ATTLIST ol cols  CDATA #IMPLIED>
    <!ATTLIST ol label CDATA #IMPLIED>
<!ELEMENT dl (li+)>
    <!ATTLIST dl cols CDATA #IMPLIED>
<!-- title on list item is only for within a description list, <dl> -->
<!ELEMENT li (title?, index*, (p|md|mdn|ul|ol|dl)*)>
    <!ATTLIST li xml:id ID #IMPLIED>


<!-- ###### -->
<!-- Blocks -->
<!-- ###### -->

<!-- attributes for use only in side-by-side -->
<!ELEMENT p   (#PCDATA|%sentence;)*>
    <!ATTLIST p   width   CDATA                 #IMPLIED>
    <!ATTLIST p   halign  (left|center|right)   #IMPLIED>
    <!ATTLIST p   valign  (bottom|middle|top)   #IMPLIED>

<!-- attributes for use only in side-by-side -->
<!ELEMENT paragraphs   (title?, index*, (%para;)*) >
    <!ATTLIST paragraphs   width    CDATA                 #IMPLIED>
    <!ATTLIST paragraphs   halign   (left|center|right)   #IMPLIED>
    <!ATTLIST paragraphs   valign   (bottom|middle|top)   #IMPLIED>

<!-- components of mathematical objects -->
<!ELEMENT statement (%para;)*>
<!ELEMENT proof (%para;)*>
    <!ATTLIST proof xml:id ID #IMPLIED>

<!-- definition might contain notation -->
<!ELEMENT definition   (title?, index*, notation*, statement)>
    <!ATTLIST definition xml:id ID #IMPLIED>

<!-- theorem-like, ie with proof -->
<!ELEMENT theorem   (title?, index*, statement, proof*)>
    <!ATTLIST theorem xml:id ID #IMPLIED>
<!ELEMENT corollary (title?, index*, statement, proof*)>
    <!ATTLIST corollary xml:id ID #IMPLIED>
<!ELEMENT lemma     (title?, index*, statement, proof*)>
    <!ATTLIST lemma     xml:id ID #IMPLIED>
<!ELEMENT algorithm     (title?, index*, statement, proof*)>
    <!ATTLIST algorithm     xml:id ID #IMPLIED>
<!ELEMENT proposition     (title?, index*, statement, proof*)>
    <!ATTLIST proposition     xml:id ID #IMPLIED>
<!ELEMENT claim     (title?, index*, statement, proof*)>
    <!ATTLIST claim     xml:id ID #IMPLIED>
<!ELEMENT fact     (title?, index*, statement, proof*)>
    <!ATTLIST fact     xml:id ID #IMPLIED>

<!-- conjecture-like, ie no proof -->
<!ELEMENT conjecture (title?, index*, statement)>
    <!ATTLIST conjecture xml:id ID #IMPLIED>
<!ELEMENT axiom (title?, index*, statement)>
    <!ATTLIST axiom xml:id ID #IMPLIED>
<!ELEMENT principle (title?, index*, statement)>
    <!ATTLIST principle xml:id ID #IMPLIED>

<!-- example-like, not very structured -->
<!ELEMENT example (title?, index*, (%para;)*)>
    <!ATTLIST example xml:id ID #IMPLIED>
<!ELEMENT remark (title?, index*, (%para;)*)>
    <!ATTLIST remark xml:id ID #IMPLIED>

<!ELEMENT blockquote (p+, attribution*)>
<!ELEMENT attribution (#PCDATA|%multiline;)*>

<!-- Contributors -->
<!ELEMENT contributors (contributor*)>
<!-- contributor near author, editor -->

<!-- automatic lists, with options -->
<!ELEMENT list-of EMPTY>
    <!-- could restrict these, but allow space-delimited -->
    <!ATTLIST list-of elements      CDATA      #IMPLIED>
    <!ATTLIST list-of divisions     CDATA      #IMPLIED>
    <!ATTLIST list-of scope         CDATA      #IMPLIED>
    <!ATTLIST list-of empty         (yes|no)   #IMPLIED>

<!-- specialized lists, SUBJECT TO CHANGE  -->
<!-- TODO: adjust allowed placements above -->
<!ELEMENT solution-list EMPTY>
<!ELEMENT notation-list EMPTY>

<!-- #### -->
<!-- Code -->
<!-- #### -->

<!-- Generic code chunks, raw text -->
<!ELEMENT prompt  (#PCDATA)>
<!ELEMENT input   (#PCDATA)>
<!ELEMENT output  (#PCDATA)>

<!-- Preformatted text, not very structured -->
<!ELEMENT pre  (#PCDATA)>

<!ELEMENT sage (input?, output?)>
    <!ATTLIST sage xml:id    ID                                #IMPLIED>
    <!ATTLIST sage copy      CDATA                             #IMPLIED>
    <!ATTLIST sage type      (full|display|practice|invisible) #IMPLIED>
    <!ATTLIST sage doctest   (random|absolute|relative)        #IMPLIED>
    <!-- TODO: for doctest convert "not tested" to "not-tested" -->
    <!ATTLIST sage tolerance CDATA                             #IMPLIED>

<!ELEMENT program (input, output?)>
    <!ATTLIST program xml:id      ID    #IMPLIED>
    <!ATTLIST program language    CDATA #IMPLIED>

<!ELEMENT console (prompt?, input, output?)*>

<!-- ############# -->
<!-- Miscellaneous -->
<!-- ############# -->

<!ELEMENT todo (#PCDATA)>

<!ELEMENT notation (usage,description)>
<!ELEMENT usage (#PCDATA)>
<!-- description is given for images -->


<!-- ################## -->
<!-- Tables and Figures -->
<!-- ################## -->

<!-- Caption -->
<!ELEMENT caption  (#PCDATA|%line;)*>

<!-- table attributes for use only in side-by-side -->
<!ELEMENT table   (title?, index*, caption?, tabular)>
    <!ATTLIST table xml:id ID #IMPLIED>
    <!ATTLIST table width     CDATA                 #IMPLIED>
    <!ATTLIST table halign    (left|center|right)   #IMPLIED>
    <!ATTLIST table valign    (bottom|middle|top)   #IMPLIED>

<!ELEMENT tabular (col*, row+)>
    <!ATTLIST tabular bottom    (none|minor|medium|major)  #IMPLIED>
    <!ATTLIST tabular top       (none|minor|medium|major)  #IMPLIED>
    <!ATTLIST tabular left      (none|minor|medium|major)  #IMPLIED>
    <!ATTLIST tabular right     (none|minor|medium|major)  #IMPLIED>
    <!ATTLIST tabular halign    (left|center|right)        #IMPLIED>
    <!ATTLIST tabular valign    (bottom|middle|top)        #IMPLIED>

<!ELEMENT col     EMPTY>
    <!ATTLIST col top           (none|minor|medium|major)  #IMPLIED>
    <!ATTLIST col right         (none|minor|medium|major)  #IMPLIED>
    <!ATTLIST col halign        (left|center|right)        #IMPLIED>

<!ELEMENT row     (cell+)>
    <!ATTLIST row bottom        (none|minor|medium|major)  #IMPLIED>
    <!ATTLIST row left          (none|minor|medium|major)  #IMPLIED>
    <!ATTLIST row halign        (left|center|right)        #IMPLIED>

<!-- answer is just for WW problems -->
<!ELEMENT cell    (#PCDATA|%sentence;|answer)*>
    <!ATTLIST cell bottom       (none|minor|medium|major)  #IMPLIED>
    <!ATTLIST cell right        (none|minor|medium|major)  #IMPLIED>
    <!ATTLIST cell halign       (left|center|right)        #IMPLIED>
    <!ATTLIST cell colspan      CDATA                      #IMPLIED>

<!-- figure attributes for use only in side-by-side           -->
<!-- Allowing multiple p allows for things like math displays -->
<!ELEMENT figure  (title?, index*, caption?, (image|video|latex-image-code|p*)*)>
    <!ATTLIST figure xml:id ID #IMPLIED>
    <!ATTLIST figure   width    CDATA                 #IMPLIED>
    <!ATTLIST figure   halign   (left|center|right)   #IMPLIED>
    <!ATTLIST figure   valign   (bottom|middle|top)   #IMPLIED>

<!-- listing attributes for use only in side-by-side -->
<!ELEMENT listing  (title?, index*, caption?, (program|console)*)>
    <!ATTLIST listing xml:id ID #IMPLIED>
    <!ATTLIST listing   width    CDATA                 #IMPLIED>
    <!ATTLIST listing   halign   (left|center|right)   #IMPLIED>
    <!ATTLIST listing   valign   (bottom|middle|top)   #IMPLIED>

<!-- ############ -->
<!-- Side By Side -->
<!-- ############ -->

<!ELEMENT sidebyside  (caption?, (figure|image|table|tabular|paragraphs|p)*)>
    <!ATTLIST sidebyside xml:id ID #IMPLIED>


<!-- ###### -->
<!-- Poetry -->
<!-- ###### -->

<!ELEMENT poem      (title?, index*, author?, (line+|stanza+))>
    <!ATTLIST poem width CDATA #IMPLIED>
    <!ATTLIST poem xml:id ID #IMPLIED>
<!ELEMENT stanza    (line+)>
<!ELEMENT line      (#PCDATA|%line;)*>


<!-- ################## -->
<!-- Special Characters -->
<!-- ################## -->

<!-- Primarily owing to XML, TeX co-opting these -->

<!ELEMENT nbsp       EMPTY>
<!ELEMENT ndash      EMPTY>
<!ELEMENT mdash      EMPTY>
<!ELEMENT ampersand  EMPTY>
<!ELEMENT less       EMPTY>
<!ELEMENT greater    EMPTY>
<!ELEMENT ellipsis   EMPTY>
<!ELEMENT hash       EMPTY>
<!ELEMENT dollar     EMPTY>
<!ELEMENT percent    EMPTY>
<!ELEMENT circumflex EMPTY>
<!ELEMENT underscore EMPTY>
<!ELEMENT lbrace     EMPTY>
<!ELEMENT rbrace     EMPTY>
<!ELEMENT tilde      EMPTY>
<!ELEMENT backslash  EMPTY>
<!-- see copyright possibly EMPTY in frontmatter description-->
<!ELEMENT lq         EMPTY>
<!ELEMENT rq         EMPTY>
<!ELEMENT lsq        EMPTY>
<!ELEMENT rsq        EMPTY>
<!ELEMENT br         EMPTY>

<!-- ############################ -->
<!-- Abbreviations, Special Terms -->
<!-- ############################ -->

<!ELEMENT ie          EMPTY>
<!ELEMENT eg          EMPTY>
<!ELEMENT etc         EMPTY>
<!ELEMENT circa       EMPTY>
<!ELEMENT tex         EMPTY>
<!ELEMENT latex       EMPTY>
<!-- see webwork possibly EMPTY in larger definition -->
<!ELEMENT trademark   EMPTY>
<!ELEMENT registered  EMPTY>
<!ELEMENT today       EMPTY>
<!ELEMENT timeofday   EMPTY>

<!-- #################### -->
<!-- Simple Inline Markup -->
<!-- #################### -->

<!ELEMENT em        (#PCDATA|%line;)*>
<!ELEMENT alert     (#PCDATA|%line;)*>
<!ELEMENT q         (#PCDATA|%line;)*>
<!ELEMENT sq        (#PCDATA|%line;)*>
<!ELEMENT term      (#PCDATA|%line;)*>
<!ELEMENT foreign   (#PCDATA|%line;)*>
<!ELEMENT acro      (#PCDATA|%line;)*>
<!ELEMENT fn        (#PCDATA|%line;)*>
    <!ATTLIST fn xml:id ID #IMPLIED>
<!-- <c> is a bit different -->
<!ELEMENT c         (#PCDATA)>
    <!ATTLIST c latexsep CDATA #IMPLIED>
<!-- PROVISIONAL: I don't like this one, it may go away with better references -->
<!-- Using just <title> could be really confusing                              -->
<!ELEMENT booktitle        (#PCDATA|%line;)*>


<!-- ################ -->
<!-- Cross-References -->
<!-- ################ -->

<!-- External References -->
<!ELEMENT url       (#PCDATA)>
    <!ATTLIST url href CDATA #IMPLIED>

<!-- Internal Cross-References -->
<!ELEMENT xref EMPTY>
    <!ATTLIST xref provisional              CDATA #IMPLIED>
    <!ATTLIST xref ref                      CDATA #IMPLIED>
    <!ATTLIST xref detail                   CDATA #IMPLIED>
    <!ATTLIST xref first                    CDATA #IMPLIED>
    <!ATTLIST xref last                     CDATA #IMPLIED>
    <!ATTLIST xref autoname (yes|no|plural|title) #IMPLIED>

<!-- Index -->
<!ELEMENT index (main?,sub*,see*)>
    <!ATTLIST index xml:id ID #IMPLIED>
    <!ATTLIST index start CDATA #IMPLIED>
    <!ATTLIST index finish CDATA #IMPLIED>
<!ELEMENT main (#PCDATA|%line;)*>
<!ELEMENT sub  (#PCDATA|%line;)*>
<!ELEMENT see  (#PCDATA|%line;)*>


<!-- #### -->
<!-- Math -->
<!-- #### -->

<!-- var is allowed only within a webwork problem         -->
<!-- xref is allowed only on mrows to allow for "reasons" -->
<!-- TODO: warn on use of var outside of webwork          -->
<!ELEMENT m   (#PCDATA|var)*>
<!ELEMENT me  (#PCDATA|var)*>
<!ELEMENT men (#PCDATA|var)*>
    <!ATTLIST men xml:id ID #IMPLIED>

<!ELEMENT md   (mrow, (mrow|intertext)*)>
<!ELEMENT mdn  (mrow, (mrow|intertext)*)>

<!-- <xref> may occur in an <mrow> as a "reason" -->
<!ELEMENT mrow (#PCDATA|var|xref)*>
    <!ATTLIST mrow xml:id ID #IMPLIED>
    <!ATTLIST mrow number (yes|no) #IMPLIED>

<!-- simple text between rows of aligned equations -->
<!ELEMENT intertext (#PCDATA|%line;)*>

<!-- ######### -->
<!-- Exercises -->
<!-- ######### -->

<!-- Inline and sectional -->

<!ELEMENT exercises (title?, index*, introduction?, (exercise|exercisegroup|todo)*, conclusion?)>
    <!ATTLIST exercises xml:id   ID       #IMPLIED>
    <!ATTLIST exercises xml:base CDATA    #IMPLIED>

<!ELEMENT exercisegroup (introduction?, exercise+, conclusion?)>
    <!ATTLIST exercisegroup xml:id ID    #IMPLIED>

<!ELEMENT exercise (title?, index*, ((statement, hint*, answer*, solution*)|(introduction?, webwork, conclusion?)))>
    <!ATTLIST exercise xml:id ID    #IMPLIED>
    <!ATTLIST exercise number CDATA #IMPLIED>
<!-- title, statement described elsewhere -->    
<!ELEMENT hint     (%para;)*>
    <!ATTLIST hint xml:id ID #IMPLIED>
<!ELEMENT answer   (%para;)*>
    <!ATTLIST answer xml:id ID #IMPLIED>
    <!-- see other attributes for WW answer blanks -->
<!ELEMENT solution (%para;)*>
    <!ATTLIST solution xml:id ID #IMPLIED>

<!-- WeBWorK exercises -->
<!-- Outer one-or-none provides for empty element -->
<!ELEMENT webwork ((title?, index*, pg-macros?, setup?, ((statement, hint?, solution?)|(stage+)))?)>
    <!ATTLIST webwork xml:id ID     #IMPLIED>
    <!ATTLIST webwork source CDATA  #IMPLIED>
    <!ATTLIST webwork seed   CDATA  #IMPLIED>

<!ELEMENT pg-macros  (macro-file)*>
<!ELEMENT macro-file (#PCDATA)>

<!ELEMENT setup (var*,pg-code)>

<!-- Multistage problems have the usual lead-in, but then are organized with stages -->
<!ELEMENT stage (title?, statement, hint?, solution?)>

<!ELEMENT var (static?)>
    <!ATTLIST var name       CDATA #IMPLIED>
    <!ATTLIST var category   CDATA #IMPLIED>
<!ELEMENT static (#PCDATA)>

<!ELEMENT pg-code (#PCDATA)>

<!-- <!ELEMENT answer EMPTY> defined above for generic exercise -->
<!-- attributes here are WW-specific     -->
<!-- TODO: warn on content in WW answer? -->
    <!ATTLIST answer var          CDATA #IMPLIED>
    <!ATTLIST answer form         CDATA #IMPLIED>
    <!ATTLIST answer evaluator    CDATA #IMPLIED>
    <!ATTLIST answer width        CDATA #IMPLIED>


<!-- Video -->
<!ELEMENT video  EMPTY>
    <!ATTLIST video source CDATA #REQUIRED>

<!-- ###### -->
<!-- Images -->
<!-- ###### -->

<!-- PROVISIONAL: may disable height attribute, even in side-by-side -->
<!-- height and alignment attributes for use only in side-by-side -->
<!-- Note: pg-name is exclusive to webwork                           -->
<!ELEMENT image  (description?, (latex-image-code|asymptote|sageplot)?)>
    <!ATTLIST image  xml:id   ID                    #IMPLIED>
    <!ATTLIST image  source   CDATA                 #IMPLIED>
    <!ATTLIST image  width    CDATA                 #IMPLIED>
    <!ATTLIST image  height   CDATA                 #IMPLIED>
    <!ATTLIST image  halign   (left|center|right)   #IMPLIED>
    <!ATTLIST image  valign   (bottom|middle|top)   #IMPLIED>
    <!ATTLIST image  pg-name  CDATA                 #IMPLIED>

<!-- typically for accessibility, also used in notation element -->
<!-- var is only active/usable within a webwork problem         -->
<!-- TODO: warn on var used elsewhere?                          -->
<!ELEMENT description   (#PCDATA|%line;|var)*>

<!ELEMENT latex-image-code   (#PCDATA)>
<!ELEMENT asymptote   (#PCDATA)>
<!ELEMENT sageplot    (#PCDATA)>

<!-- #################### -->
<!-- Quantities, SI Units -->
<!-- #################### -->

<!-- Note: prefix and base entities are sunchronized with  xsl/mathbook-units.xsl -->
<!-- (Also: It appears impossible to restrict  mag,  exp  to numerical values)    -->

<!ENTITY % prefix "yocto|zepto|atto|femto|pico|nano|micro|milli|centi|deci|deca|deka|hecto|kilo|mega|giga|tera|peta|exa|zetta|yotta">

<!ENTITY % base "ampere|candela|kelvin|gram|meter|metre|mole|second|becquerel|gray|sievert|degreeCelsius|celsius|coulomb|henry|ohm|siemens|tesla|volt|weber|hertz|katal|joule|newton|pascal|watt|lumen|lux|radian|steradian|degree|arcminute|arcsecond|day|hour|minute|hectare|liter|litre|percent|degreeFahrenheit|fahrenheit|pound|foot|inch|yard|mile|mileperhour|gallon">

<!ELEMENT quantity   (mag*, unit*, per*)>

<!ELEMENT mag   (#PCDATA)>

<!ELEMENT unit  EMPTY>
    <!ATTLIST unit  prefix   (%prefix;)   #IMPLIED>
    <!ATTLIST unit  base     (%base;)     #IMPLIED>
    <!ATTLIST unit  exp      CDATA        #IMPLIED>

<!ELEMENT per   EMPTY>
    <!ATTLIST per   prefix   (%prefix;)   #IMPLIED>
    <!ATTLIST per   base     (%base;)     #IMPLIED>
    <!ATTLIST per   exp      CDATA        #IMPLIED>

<!-- ######## -->
<!-- Doc Info -->
<!-- ######## -->

<!-- A mini-database of relevant information with no natural home -->

<!ELEMENT docinfo   (brandlogo|website|macros|latex-image-preamble|initialism|feedback|rename)*>

<!-- url and image for HTML pages -->
<!ELEMENT brandlogo    EMPTY>
    <!ATTLIST brandlogo   url      CDATA   #IMPLIED>
    <!ATTLIST brandlogo   source   CDATA   #IMPLIED>

<!-- TODO: maybe these should be reworked -->
<!ELEMENT website    (title, url)>
    <!-- title and url elements done elsewhere -->

<!-- typically for short HTML titles on tabs, bookmarks, etc -->
<!ELEMENT initialism                 (#PCDATA)>

<!-- LaTeX macros, image preamble, as raw data -->
<!ELEMENT macros                 (#PCDATA)>
<!ELEMENT latex-image-preamble   (#PCDATA)>

<!-- PROVISIONAL: url specification -->
<!-- For default feedback button, URL should really be -->
<!-- an attribute since URL element already exists     -->
<!ELEMENT feedback    (url)>
<!-- <!ELEMENT url   (#PCDATA)> -->

<!-- repurpose elements, a change in source -->
<!-- TODO:  lang  should be  xml:lang, as on main element? -->
<!ELEMENT rename    (#PCDATA)>
    <!ATTLIST rename   element  CDATA   #IMPLIED>
    <!ATTLIST rename   lang     CDATA   #IMPLIED>


<!-- ############ -->
<!-- Front Matter -->
<!-- ############ -->

<!-- There is variation as to what gets employed, across       -->
<!-- book, article, letter, memo which we try to indicate here -->

<!ELEMENT frontmatter   (titlepage?, colophon?, biography*, abstract?, dedication?, acknowledgement*, foreword*, preface*)>
    <!ATTLIST frontmatter xml:id ID #IMPLIED>

<!ELEMENT titlepage   (author*,editor*,credit*,date?)>

<!ELEMENT author       (personname, department*, institution*, email*)>
<!ELEMENT editor       (personname, department*, institution*, email*)>
<!ELEMENT contributor  (personname, department*, institution*, email*)>
    <!ATTLIST contributor xml:id ID #IMPLIED>

<!ELEMENT personname   (#PCDATA|%characters;)*>
<!ELEMENT department   (#PCDATA|%multiline;)*>
<!ELEMENT institution  (#PCDATA|%multiline;)*>
<!ELEMENT email        (#PCDATA)>

<!ELEMENT credit   (title?, (author|editor)*)>

<!ELEMENT date        (#PCDATA|%characters;|today|timeofday)*>

<!-- both "front" and "back" colophons -->
<!ELEMENT colophon   (copyright*|p*)>

<!-- front colophon items -->
<!ELEMENT copyright      (year, holder, minilicense?, shortlicense?)?>
<!ELEMENT year           (#PCDATA|%line;)*>
<!ELEMENT holder         (#PCDATA|%line;)*>
<!ELEMENT minilicense    (#PCDATA|%line;)*>
<!ELEMENT shortlicense   (#PCDATA|%line;)*>


<!ELEMENT biography (title?, index*, (%block;)*)>
    <!ATTLIST biography xml:id ID #IMPLIED>

<!ELEMENT abstract (title?, index*, (%block;)*)>
    <!ATTLIST abstract xml:id ID #IMPLIED>

<!ELEMENT dedication   (title?, index*, p*)>
    <!ATTLIST dedication xml:id ID #IMPLIED>

<!ELEMENT acknowledgement (title?, index*, (%block;)*)>
    <!ATTLIST acknowledgement xml:id ID #IMPLIED>

<!ELEMENT foreword (title?, index*, (%block;)*, attribution*)>
    <!ATTLIST foreword xml:id ID #IMPLIED>

<!ELEMENT preface (title?, index*, (%block;)*, attribution*)>
    <!ATTLIST preface xml:id ID #IMPLIED>

<!-- ########### -->
<!-- Back Matter -->
<!-- ########### -->

<!ELEMENT backmatter (title?, appendix*, index-part?, colophon?)>
    <!ATTLIST backmatter xml:id ID #IMPLIED>

<!-- Appendix is modeled closely on a book/chapter -->
<!-- An article/section model may be added         -->
<!-- Also, various "automatic" lists can go inside an appendix        -->
<!ELEMENT appendix (title?, index*, author*, ((%block;)*|(introduction?, (section|exercises|references)*, conclusion?)))>
    <!ATTLIST appendix xml:id   ID       #IMPLIED>
    <!ATTLIST appendix xml:base CDATA    #IMPLIED>

<!ELEMENT index-part (title?)>
    <!ATTLIST index-part xml:id   ID       #IMPLIED>

<!-- rear colophon items -->
<!-- a sequence of "p" -->

<!-- ######################## -->
<!-- Bibliographic References -->
<!-- ######################## -->

<!-- This needs serious work - this is 100% PROVISIONAL           -->
<!-- As-is, this needs more structure to accomodate note properly -->
<!ELEMENT references (title?, index*, introduction?, biblio*, conclusion?)>

<!ELEMENT biblio  (#PCDATA|%line;|ibid|author|title|journal|year|volume|number|note)*>
    <!ATTLIST biblio xml:id ID    #IMPLIED>
    <!ATTLIST biblio type   (raw) #REQUIRED>
<!ELEMENT ibid  EMPTY>
<!-- <!ELEMENT author   (#PCDATA|%line;)*> -->
<!-- title defined above, could conflict -->
<!ELEMENT journal  (#PCDATA|%line;)*>
<!-- <!ELEMENT year     (#PCDATA|%line;)*> -->
<!ELEMENT volume   (#PCDATA|%line;)*>
<!ELEMENT number   (#PCDATA|%line;)*>
<!ELEMENT note     (%para;)*>
    <!ATTLIST note xml:id ID #IMPLIED>

