schema/dtd/mathbook.dtd

<!-- ********************************************************************* -->
<!-- Copyright 2016                                                        -->
<!-- Robert A. Beezer                                                      -->
<!--                                                                       -->
<!-- This file is part of MathBook XML.                                    -->
<!--                                                                       -->
<!-- MathBook XML is free software: you can redistribute it and/or modify  -->
<!-- it under the terms of the GNU General Public License as published by  -->
<!-- the Free Software Foundation, either version 2 or version 3 of the    -->
<!-- License (at your option).                                             -->
<!--                                                                       -->
<!-- MathBook XML is distributed in the hope that it will be useful,       -->
<!-- but WITHOUT ANY WARRANTY; without even the implied warranty of        -->
<!-- MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the         -->
<!-- GNU General Public License for more details.                          -->
<!--                                                                       -->
<!-- You should have received a copy of the GNU General Public License     -->
<!-- along with MathBook XML.  If not, see <http://www.gnu.org/licenses/>. -->
<!-- ********************************************************************* -->

<!-- ##################################################################### -->
<!-- 2016-01-27:     This is PRELIMINARY and SUBJECT TO CHANGE.            -->
<!-- It is only here for safe-keeping, even if it is close to complete.    -->
<!-- ##################################################################### -->

<!-- http://www.sagehill.net/docbookxsl/ValidXinclude.html -->
<!-- * = zero or more, + = one or more, ? = zero or one -->

<!-- #PCDATA *must* be used inside of (  )* as first part, can augment -->
<!-- http://stackoverflow.com/questions/2803142/why-is-this-not-a-valid-xml-dtd-parameter-entity-and-pcdata -->

<!-- #################### -->
<!-- Convenience Entities -->
<!-- #################### -->

<!-- Titles, Captions and simple text -->
<!-- Elements that could be inside a single line of text -->
<!-- For example, an <ndash>, but not a <me>             -->
<!-- Precede these by a #PCDATA, wrap with ( )*          -->
<!ENTITY % characters "nbsp|ndash|mdash|ampersand|less|greater|hash|dollar|percent|circumflex|underscore|lbrace|rbrace|lbracket|rbracket|ldblbracket|rdblbracket|langle|rangle|tilde|backslash|asterisk|lq|rq|lsq|rsq|ellipsis|midpoint|swungdash|permille|pilcrow|section-mark|times|slash|solidus|copyright|ie|eg|etc|circa|tex|latex|webwork|trademark|registered|fillin|today|timeofday|doublesharp|sharp|natural|flat|doubleflat">
<!ENTITY % markup "xref|url|m|c|em|alert|insert|delete|stale|q|sq|braces|brackets|dblbrackets|angles|term|foreign|abbr|quantity|acro|init|booktitle|n|scaledeg|chord">
<!ENTITY % linear "%characters; | %markup;">

<!-- Multiline Content -->
<!-- Addresses, attributions, and other content        -->
<!-- that is not a constituent of a paragraph may      -->
<!-- be broken into a sequence of line elements.       -->
<!-- It is not possibble to use this as an alternative -->
<!-- to mixed-content, so some uses may be inaccurate. -->
<!-- http://stackoverflow.com/questions/12261206/dtd-syntax-allow-sub-element-or-pcdata -->
<!ELEMENT line (#PCDATA|%linear;)*>

<!-- Sentences, Paragraph Content -->
<!-- Elements that can be contained in a typical paragraph    -->
<!-- Everything that is title material, plus more (eg me)     -->
<!-- var is exclusive to "p" in a WeBWorK problem             -->
<!-- Precede by a #PCDATA, wrap with ( )*                     -->
<!ENTITY % listitem "%linear;|me|men|md|mdn|cd|fn|index|notation|var">
<!ENTITY % sentence "%listitem;|ul|ol|dl">

<!-- Paragraphs -->
<!-- Elements that can mix anywhere with a paragraph, -->
<!-- such as in the statement of a theorem or a proof -->
<!-- For example <figure> yes, but <theorem> no           -->
<!ENTITY % para "p|blockquote|pre|sidebyside|sage|figure|table|listing|poem|program|console|image|tabular">

<!-- Blocks -->
<!-- Top-level descendents of structural elements                                          -->
<!-- Everything like a paragraph, but also more substantial                                -->
<!-- These items cannot be contained in anything but a structural subdivision              -->
<!-- Note: the "todo" element is in this list                                              -->
<!-- DEFINITION-LIKE definition                                                            -->
<!-- THEOREM-LIKE theorem|corollary|lemma|algorithm|proposition|claim|fact|identity        -->
<!-- AXIOM-LIKE   axiom|conjecture|principle|heuristic|hypothesis|assumption               -->
<!-- REMARK-LIKE remark|convention|note|observation|warning|insight|computation|technology -->
<!-- ASIDE-LIKE aside|biographical|historical                                              -->
<!-- EXAMPLE-LIKE example|question|problem                                                 -->
<!-- PROJECT-LIKE project|activity|exploration|task|investigation                          -->
<!ENTITY % block "%para;|paragraphs|definition|theorem|corollary|lemma|algorithm|proposition|claim|fact|identity|axiom|conjecture|principle|heuristic|hypothesis|assumption|remark|convention|note|observation|warning|insight|computation|technology|aside|biographical|historical|list|example|question|problem|project|activity|exploration|task|investigation|assemblage|exercise|contributors|list-of|solution-list|notation-list|todo">


<!-- ######### -->
<!-- Structure -->
<!-- ######### -->

<!ELEMENT mathbook (docinfo, (book|article))>
    <!ATTLIST mathbook xml:lang CDATA #IMPLIED>
    <!ATTLIST mathbook xml:base CDATA    #IMPLIED>
    <!ATTLIST mathbook xmlns:xi CDATA #FIXED "http://www.w3.org/2001/XInclude">

<!-- A book may be a list of chapters or a list of parts -->
<!ELEMENT book (title, subtitle?, frontmatter, ((chapter+, backmatter?)|(part+, backmatter?)))>
    <!ATTLIST book xml:id ID #IMPLIED>
    <!ATTLIST book xml:base CDATA    #IMPLIED>
    <!ATTLIST book xmlns:xi CDATA #FIXED "http://www.w3.org/2001/XInclude">

<!-- TODO: need a super-lightweight article (no sections, just blocks) -->
<!ELEMENT article (title, subtitle?, frontmatter?, (section|exercises|references)+, backmatter?)>
    <!ATTLIST article xml:id ID #IMPLIED>
    <!ATTLIST article xml:base CDATA    #IMPLIED>
    <!ATTLIST article xmlns:xi CDATA #FIXED "http://www.w3.org/2001/XInclude">

<!ELEMENT part (title, index*, objectives?, chapter+)>
    <!ATTLIST part xml:id   ID       #IMPLIED>
    <!ATTLIST part xml:base CDATA    #IMPLIED>
    <!ATTLIST part xmlns:xi CDATA #FIXED "http://www.w3.org/2001/XInclude">

<!ELEMENT chapter (title, index*, author*, objectives?, (((%block;|references|exercises)*)|(introduction?,section,(section|references|exercises)*,conclusion?))) >
    <!ATTLIST chapter xml:id   ID       #IMPLIED>
    <!ATTLIST chapter xml:base CDATA    #IMPLIED>
    <!ATTLIST chapter xmlns:xi CDATA #FIXED "http://www.w3.org/2001/XInclude">

<!ELEMENT section (title, index*, author*, objectives?, (((%block;|references|exercises)*)|(introduction?, subsection,(subsection|references|exercises)*,conclusion?))) >
    <!ATTLIST section xml:id   ID       #IMPLIED>
    <!ATTLIST section xml:base CDATA    #IMPLIED>
    <!ATTLIST section xmlns:xi CDATA #FIXED "http://www.w3.org/2001/XInclude">

<!ELEMENT subsection (title, index*, author*, objectives?, (((%block;|references|exercises)*)|(introduction?,subsubsection,(subsubsection|references|exercises)*,conclusion?))) >
    <!ATTLIST subsection xml:id   ID       #IMPLIED>
    <!ATTLIST subsection xml:base CDATA    #IMPLIED>
    <!ATTLIST subsection xmlns:xi CDATA #FIXED "http://www.w3.org/2001/XInclude">

<!ELEMENT subsubsection (title, index*,  author*, objectives?, (%block;)*)>
    <!ATTLIST subsubsection xml:id   ID       #IMPLIED>
    <!ATTLIST subsubsection xml:base CDATA    #IMPLIED>
    <!ATTLIST subsubsection xmlns:xi CDATA #FIXED "http://www.w3.org/2001/XInclude">

<!ELEMENT title    (#PCDATA|%linear;)*>
<!ELEMENT subtitle (#PCDATA|%linear;)*>

<!ELEMENT objectives (title?, index*, introduction?, (ul|ol|dl), conclusion?)>
    <!ATTLIST objectives xml:id   ID       #IMPLIED>

<!ELEMENT introduction (title?, index*, (%block;)*)>
<!ELEMENT conclusion   (title?, index*, (%block;)*)>


<!-- ##### -->
<!-- Lists -->
<!-- ##### -->

<!ELEMENT ul (li+)>
    <!ATTLIST ul cols  (2|3|4|5|6) #IMPLIED>
    <!ATTLIST ul label CDATA #IMPLIED>
<!ELEMENT ol (li+)>
    <!ATTLIST ol cols  (2|3|4|5|6) #IMPLIED>
    <!ATTLIST ol label CDATA #IMPLIED>
<!-- Description lists cannot be organized into columns -->
<!ELEMENT dl (li+)>
    <!ATTLIST dl width  (narrow|medium|wide)  #IMPLIED>
<!-- ol/li: %listitem; or structured with elements, no title, xml:id active           -->
<!-- ul/li: %listitem; or structured with elements, no title, xml:id inactive         -->
<!-- dl/li: only structured with elements, exactly one title mandatory, xml:id active -->
<!ELEMENT li (#PCDATA|title|index|p|%listitem;)*>
    <!ATTLIST li xml:id ID #IMPLIED>


<!-- ###### -->
<!-- Blocks -->
<!-- ###### -->

<!ELEMENT p   (#PCDATA|%sentence;)*>

<!-- As a sidebyside panel, only contains "p|blockquote" -->
<!ELEMENT paragraphs   (title?, index*, (%para;)*) >
    <!ATTLIST paragraphs   xml:id   ID                    #IMPLIED>
    <!ATTLIST paragraphs   xml:base  CDATA                #IMPLIED>


<!-- components of mathematical objects -->
<!ELEMENT statement (%para;)*>
<!ELEMENT proof (%para;|case)*>
    <!ATTLIST proof xml:id ID #IMPLIED>

<!ELEMENT case  (title?, index*, (%para;)*)>
    <!ATTLIST case   xml:id   ID                    #IMPLIED>
    <!ATTLIST case   direction  (forward|backward)  #IMPLIED>

<!-- definition might contain notation -->
<!ELEMENT definition   (title?, index*, notation*, statement)>
    <!ATTLIST definition xml:id ID #IMPLIED>

<!-- theorem-like, i.e. with proof -->
<!ELEMENT theorem   (title?, index*, statement, proof*)>
    <!ATTLIST theorem xml:id ID #IMPLIED>
<!ELEMENT corollary (title?, index*, statement, proof*)>
    <!ATTLIST corollary xml:id ID #IMPLIED>
<!ELEMENT lemma     (title?, index*, statement, proof*)>
    <!ATTLIST lemma     xml:id ID #IMPLIED>
<!ELEMENT algorithm     (title?, index*, statement, proof*)>
    <!ATTLIST algorithm     xml:id ID #IMPLIED>
<!ELEMENT proposition     (title?, index*, statement, proof*)>
    <!ATTLIST proposition     xml:id ID #IMPLIED>
<!ELEMENT claim     (title?, index*, statement, proof*)>
    <!ATTLIST claim     xml:id ID #IMPLIED>
<!ELEMENT fact     (title?, index*, statement, proof*)>
    <!ATTLIST fact     xml:id ID #IMPLIED>
<!ELEMENT identity     (title?, index*, statement, proof*)>
    <!ATTLIST identity     xml:id ID #IMPLIED>

<!-- axiom-like, i.e. no proof -->
<!ELEMENT axiom (title?, index*, statement)>
    <!ATTLIST axiom xml:id ID #IMPLIED>
<!ELEMENT conjecture (title?, index*, statement)>
    <!ATTLIST conjecture xml:id ID #IMPLIED>
<!ELEMENT principle (title?, index*, statement)>
    <!ATTLIST principle xml:id ID #IMPLIED>
<!ELEMENT heuristic (title?, index*, statement)>
    <!ATTLIST heuristic xml:id ID #IMPLIED>
<!ELEMENT hypothesis (title?, index*, statement)>
    <!ATTLIST hypothesis xml:id ID #IMPLIED>
<!ELEMENT assumption (title?, index*, statement)>
    <!ATTLIST assumption xml:id ID #IMPLIED>

<!-- REMARK-LIKE, simple, no detailed structure    -->
<!-- base, xi for conditional Sage remarks in FCLA -->
<!ELEMENT remark (title?, index*, (%para;)*)>
    <!ATTLIST remark xml:id ID #IMPLIED>
    <!ATTLIST remark xml:base CDATA    #IMPLIED>
    <!ATTLIST remark xmlns:xi CDATA #FIXED "http://www.w3.org/2001/XInclude">
<!ELEMENT convention (title?, index*, (%para;)*)>
    <!ATTLIST convention xml:id ID #IMPLIED>
<!ELEMENT note (title?, index*, (%para;)*)>
    <!ATTLIST note xml:id ID #IMPLIED>
<!ELEMENT observation (title?, index*, (%para;)*)>
    <!ATTLIST observation xml:id ID #IMPLIED>
<!ELEMENT warning (title?, index*, (%para;)*)>
    <!ATTLIST warning xml:id ID #IMPLIED>
<!ELEMENT insight (title?, index*, (%para;)*)>
    <!ATTLIST insight xml:id ID #IMPLIED>
<!ELEMENT computation (title?, index*, (%para;)*)>
    <!ATTLIST computation xml:id ID #IMPLIED>
<!ELEMENT technology (title?, index*, (%para;)*)>
    <!ATTLIST technology xml:id ID #IMPLIED>

<!-- ASIDE-LIKE, simple, limited structure, title required   -->
<!ELEMENT aside (title, index*, (%para;)*)>
    <!ATTLIST aside xml:id ID #IMPLIED>
<!ELEMENT biographical (title, index*, (%para;)*)>
    <!ATTLIST biographical xml:id ID #IMPLIED>
<!ELEMENT historical (title, index*, (%para;)*)>
    <!ATTLIST historical xml:id ID #IMPLIED>

<!-- EXAMPLE-LIKE, PROJECT-LIKE -->
<!-- minimal structure  xor  statement/optional-solutions -->
<!ELEMENT example (title?, index*, ((%para;)*|(statement, solution*)))>
    <!ATTLIST example xml:id ID #IMPLIED>
<!ELEMENT question (title?, index*, ((%para;)*|(statement, solution*)))>
    <!ATTLIST question xml:id ID #IMPLIED>
<!ELEMENT problem (title?, index*, ((%para;)*|(statement, solution*)))>
    <!ATTLIST problem xml:id ID #IMPLIED>
<!ELEMENT project (title?, index*, ((%para;)*|(statement, solution*)))>
    <!ATTLIST project xml:id ID #IMPLIED>
<!ELEMENT activity (title?, index*, ((%para;)*|(statement, solution*)))>
    <!ATTLIST activity xml:id ID #IMPLIED>
<!ELEMENT exploration (title?, index*, ((%para;)*|(statement, solution*)))>
    <!ATTLIST exploration xml:id ID #IMPLIED>
<!ELEMENT task (title?, index*, ((%para;)*|(statement, solution*)))>
    <!ATTLIST task xml:id ID #IMPLIED>
<!ELEMENT investigation (title?, index*, ((%para;)*|(statement, solution*)))>
    <!ATTLIST investigation xml:id ID #IMPLIED>

<!-- a collection or summary, minimal structure, highlighted presentation -->
<!ELEMENT assemblage (title?, index*, (p|table|figure|sidebyside)+)>
    <!ATTLIST assemblage xml:id ID #IMPLIED>

<!ELEMENT list (title?, index*, introduction?, (ol|ul|dl), conclusion?)>
    <!ATTLIST list xml:id ID #IMPLIED>

<!ELEMENT blockquote (p+, attribution*)>

<!-- This is inaccurate, but will allow proper structures to pass    -->
<!-- Either provide mixed content, or a seqeunce of lines,           -->
<!-- so the final "or" here should be interpreted as an exclusive-or -->
<!ELEMENT attribution (#PCDATA|%linear;|line)*>

<!-- Contributors -->
<!ELEMENT contributors (contributor*)>
<!-- contributor near author, editor -->

<!-- automatic lists, with options -->
<!ELEMENT list-of EMPTY>
    <!-- could restrict these, but allow space-delimited -->
    <!ATTLIST list-of elements      CDATA      #IMPLIED>
    <!ATTLIST list-of divisions     CDATA      #IMPLIED>
    <!ATTLIST list-of scope         CDATA      #IMPLIED>
    <!ATTLIST list-of empty         (yes|no)   #IMPLIED>

<!-- specialized lists, SUBJECT TO CHANGE  -->
<!-- TODO: adjust allowed placements above -->
<!ELEMENT solution-list EMPTY>
<!ELEMENT notation-list EMPTY>

<!-- #### -->
<!-- Code -->
<!-- #### -->

<!-- Generic code chunks, raw text -->
<!ELEMENT prompt  (#PCDATA)>
<!ELEMENT input   (#PCDATA)>
    <!ATTLIST input xml:base CDATA    #IMPLIED>
<!ELEMENT output  (#PCDATA)>

<!ELEMENT sage (input?, output?)>
    <!ATTLIST sage xml:id    ID                                #IMPLIED>
    <!ATTLIST sage copy      CDATA                             #IMPLIED>
    <!ATTLIST sage type      (full|display|practice|invisible) #IMPLIED>
    <!ATTLIST sage doctest   (random|absolute|relative)        #IMPLIED>
    <!-- TODO: for doctest convert "not tested" to "not-tested" -->
    <!ATTLIST sage tolerance CDATA                             #IMPLIED>
    <!-- Language options as of 2016-06-13 -->
    <!ATTLIST sage language (sage|gap|gp|html|maxima|octave|python|r|singular) #IMPLIED>

<!ELEMENT program (input, output?)>
    <!ATTLIST program xml:id      ID    #IMPLIED>
    <!ATTLIST program language    CDATA #IMPLIED>

<!ELEMENT console (prompt?, input, output?)*>

<!-- ############# -->
<!-- Miscellaneous -->
<!-- ############# -->

<!ELEMENT todo (#PCDATA)>

<!ELEMENT notation (usage,description)>
<!ELEMENT usage (#PCDATA)>
<!-- description is given for images -->


<!-- ################## -->
<!-- Tables and Figures -->
<!-- ################## -->

<!-- Caption -->
<!ELEMENT caption  (#PCDATA|%linear;)*>

<!ELEMENT table   (title?, index*, caption?, tabular)>
    <!ATTLIST table xml:id ID #IMPLIED>
    <!ATTLIST table width     CDATA                 #IMPLIED>

<!ELEMENT tabular (col*, row+)>
    <!ATTLIST tabular bottom    (none|minor|medium|major)    #IMPLIED>
    <!ATTLIST tabular top       (none|minor|medium|major)    #IMPLIED>
    <!ATTLIST tabular left      (none|minor|medium|major)    #IMPLIED>
    <!ATTLIST tabular right     (none|minor|medium|major)    #IMPLIED>
    <!ATTLIST tabular halign    (left|center|right|justify)  #IMPLIED>
    <!ATTLIST tabular valign    (bottom|middle|top)          #IMPLIED>

<!ELEMENT col     EMPTY>
    <!ATTLIST col top           (none|minor|medium|major)    #IMPLIED>
    <!ATTLIST col right         (none|minor|medium|major)    #IMPLIED>
    <!ATTLIST col halign        (left|center|right|justify)  #IMPLIED>
    <!ATTLIST col width         CDATA                        #IMPLIED>

<!ELEMENT row     (cell+)>
    <!ATTLIST row bottom        (none|minor|medium|major)    #IMPLIED>
    <!ATTLIST row left          (none|minor|medium|major)    #IMPLIED>
    <!ATTLIST row halign        (left|center|right|justify)  #IMPLIED>
    <!ATTLIST row valign        (bottom|middle|top)          #IMPLIED>

<!ELEMENT cell    (#PCDATA|%sentence;|p|line)*>
<!-- Should be (#PCDATA|%sentence;)* xor (p+) xor (line+), but DTD cannot express this -->
    <!ATTLIST cell bottom       (none|minor|medium|major)    #IMPLIED>
    <!ATTLIST cell right        (none|minor|medium|major)    #IMPLIED>
    <!ATTLIST cell halign       (left|center|right|justify)  #IMPLIED>
    <!ATTLIST cell colspan      CDATA                        #IMPLIED>

<!-- Allowing multiple p allows for things like math displays -->
<!ELEMENT figure  (title?, index*, caption?, (image|video|latex-image-code|p*)*)>
    <!ATTLIST figure xml:id ID #IMPLIED>
    <!ATTLIST figure   width    CDATA                 #IMPLIED>

<!ELEMENT listing  (title?, index*, caption?, (pre|program|console)*)>
    <!ATTLIST listing xml:id ID #IMPLIED>
    <!ATTLIST listing   width    CDATA                 #IMPLIED>

<!-- ############ -->
<!-- Side By Side -->
<!-- ############ -->

<!ELEMENT sidebyside  (caption?, (figure|image|table|tabular|paragraphs|p|ol|ul|dl|pre)*)>
    <!ATTLIST sidebyside xml:id ID #IMPLIED>
    <!ATTLIST sidebyside   margins   CDATA                 #IMPLIED>
    <!ATTLIST sidebyside   width     CDATA                 #IMPLIED>
    <!ATTLIST sidebyside   widths    CDATA                 #IMPLIED>
    <!ATTLIST sidebyside   valign    (bottom|middle|top)   #IMPLIED>
    <!ATTLIST sidebyside   valigns   CDATA                 #IMPLIED>


<!-- ###### -->
<!-- Poetry -->
<!-- ###### -->

<!ELEMENT poem      (title?, index*, author?, (line+|stanza+))>
    <!ATTLIST poem width CDATA #IMPLIED>
    <!ATTLIST poem xml:id ID #IMPLIED>
<!ELEMENT stanza    (line+)>
<!-- line defined above in multline context   -->
<!-- <!ELEMENT line      (#PCDATA|%linear;)*> -->


<!-- ##### -->
<!-- Music -->
<!-- ##### -->
<!ELEMENT     scaledeg              (#PCDATA)              >
<!ELEMENT     n                     EMPTY                  >
    <!ATTLIST n         pc          CDATA #IMPLIED         >
    <!ATTLIST n         acc         CDATA #IMPLIED         >
    <!ATTLIST n         octave      CDATA #IMPLIED         >
<!ELEMENT     chord                 (alteration)*          >
    <!ATTLIST chord     root        CDATA #IMPLIED         >
    <!ATTLIST chord     mode        CDATA #IMPLIED         >
    <!ATTLIST chord     bps         CDATA #IMPLIED         >
    <!ATTLIST chord     bass        CDATA #IMPLIED         >
    <!ATTLIST chord     suspended   CDATA #IMPLIED         >
    <!ATTLIST chord     parentheses CDATA #IMPLIED         >
<!ELEMENT     alteration            (#PCDATA|%characters;)*>

<!-- ################## -->
<!-- Special Characters -->
<!-- ################## -->

<!-- Primarily owing to XML, TeX co-opting these -->

<!ELEMENT nbsp          EMPTY>
<!ELEMENT ndash         EMPTY>
<!ELEMENT mdash         EMPTY>
<!ELEMENT ampersand     EMPTY>
<!ELEMENT less          EMPTY>
<!ELEMENT greater       EMPTY>
<!ELEMENT ellipsis      EMPTY>
<!ELEMENT hash          EMPTY>
<!ELEMENT dollar        EMPTY>
<!ELEMENT percent       EMPTY>
<!ELEMENT circumflex    EMPTY>
<!ELEMENT underscore    EMPTY>
<!ELEMENT lbrace        EMPTY>
<!ELEMENT rbrace        EMPTY>
<!ELEMENT lbracket      EMPTY>
<!ELEMENT rbracket      EMPTY>
<!ELEMENT ldblbracket   EMPTY>
<!ELEMENT rdblbracket   EMPTY>
<!ELEMENT langle        EMPTY>
<!ELEMENT rangle        EMPTY>
<!ELEMENT tilde         EMPTY>
<!ELEMENT backslash     EMPTY>
<!ELEMENT asterisk      EMPTY>
<!-- see copyright possibly EMPTY in frontmatter description-->
<!ELEMENT lq            EMPTY>
<!ELEMENT rq            EMPTY>
<!ELEMENT lsq           EMPTY>
<!ELEMENT rsq           EMPTY>
<!ELEMENT midpoint      EMPTY>
<!ELEMENT swungdash     EMPTY>
<!ELEMENT permille      EMPTY>
<!ELEMENT pilcrow       EMPTY>
<!ELEMENT section-mark  EMPTY>
<!ELEMENT times         EMPTY>
<!ELEMENT slash         EMPTY>
<!ELEMENT solidus       EMPTY>
<!--      musical symbols  -->
<!ELEMENT doublesharp   EMPTY>
<!ELEMENT sharp         EMPTY>
<!ELEMENT natural       EMPTY>
<!ELEMENT flat          EMPTY>
<!ELEMENT doubleflat    EMPTY>


<!-- ############################ -->
<!-- Abbreviations, Special Terms -->
<!-- ############################ -->

<!ELEMENT ie          EMPTY>
<!ELEMENT eg          EMPTY>
<!ELEMENT etc         EMPTY>
<!ELEMENT circa       EMPTY>
<!ELEMENT tex         EMPTY>
<!ELEMENT latex       EMPTY>
<!-- see webwork possibly EMPTY in larger definition -->
<!ELEMENT trademark   EMPTY>
<!ELEMENT registered  EMPTY>
<!ELEMENT fillin  EMPTY>
    <!ATTLIST fillin characters CDATA #IMPLIED>
<!ELEMENT today       EMPTY>
<!ELEMENT timeofday   EMPTY>

<!-- #################### -->
<!-- Simple Inline Markup -->
<!-- #################### -->

<!ELEMENT em           (#PCDATA|%linear;)*>
<!ELEMENT alert        (#PCDATA|%linear;)*>
<!ELEMENT insert       (#PCDATA|%linear;)*>
<!ELEMENT delete       (#PCDATA|%linear;)*>
<!ELEMENT stale        (#PCDATA|%linear;)*>
<!ELEMENT q            (#PCDATA|%linear;)*>
<!ELEMENT sq           (#PCDATA|%linear;)*>
<!ELEMENT braces       (#PCDATA|%linear;)*>
<!ELEMENT brackets     (#PCDATA|%linear;)*>
<!ELEMENT dblbrackets  (#PCDATA|%linear;)*>
<!ELEMENT angles       (#PCDATA|%linear;)*>
<!ELEMENT term         (#PCDATA|%linear;)*>
<!ELEMENT foreign      (#PCDATA|%linear;)*>
<!ELEMENT abbr         (#PCDATA|%linear;)*>
<!ELEMENT acro         (#PCDATA|%linear;)*>
<!ELEMENT init         (#PCDATA|%linear;)*>
<!ELEMENT fn           (#PCDATA|%linear;)*>
    <!ATTLIST fn xml:id ID #IMPLIED>
<!-- PROVISIONAL: I don't like this one, it may go away with better references -->
<!-- Using just <title> could be really confusing                              -->
<!ELEMENT booktitle        (#PCDATA|%linear;)*>

<!-- ############# -->
<!-- Verbatim Text -->
<!-- ############# -->

<!-- Short snippets -->
<!ELEMENT c         (#PCDATA)>
    <!ATTLIST c latexsep CDATA #IMPLIED>

<!-- Longer, displayed snippets -->
<!-- The | is exclusive-or in practice, DTD cannot express this -->
<!ELEMENT cd        (#PCDATA|cline)*>

<!-- Verbatim, outside paragraphs -->
<!-- The | is exclusive-or in practice, DTD cannot express this -->
<!ELEMENT pre       (#PCDATA|cline)*>

<!-- Lines of raw characters -->
<!ELEMENT cline     (#PCDATA)>


<!-- ################ -->
<!-- Cross-References -->
<!-- ################ -->

<!-- External References -->
<!-- This is a bit too lenient since it suggests  -->
<!-- nesting url's is possible, or that a url can -->
<!-- have an xref in the content                  -->
<!ELEMENT url       (#PCDATA|%linear;)*>
    <!ATTLIST url href CDATA #IMPLIED>

<!-- Internal Cross-References -->
<!ELEMENT xref (#PCDATA|%linear;)*>
    <!ATTLIST xref provisional              CDATA #IMPLIED>
    <!ATTLIST xref ref                      CDATA #IMPLIED>
    <!ATTLIST xref detail                   CDATA #IMPLIED>
    <!ATTLIST xref first                    CDATA #IMPLIED>
    <!ATTLIST xref last                     CDATA #IMPLIED>
    <!ATTLIST xref autoname        (yes|no|title) #IMPLIED>

<!-- Index -->
<!-- A mixed-content model is allowed, but DTD will complain -->
<!ELEMENT index (main?,sub*,(see|seealso)?)>
    <!ATTLIST index xml:id ID #IMPLIED>
    <!ATTLIST index sortby CDATA #IMPLIED>
    <!ATTLIST index start  CDATA #IMPLIED>
    <!ATTLIST index finish CDATA #IMPLIED>
<!ELEMENT main (#PCDATA|%linear;)*>
    <!ATTLIST main sortby CDATA #IMPLIED>
<!ELEMENT sub  (#PCDATA|%linear;)*>
    <!ATTLIST sub sortby CDATA #IMPLIED>
<!ELEMENT see      (#PCDATA|%linear;)*>
<!ELEMENT seealso  (#PCDATA|%linear;)*>


<!-- #### -->
<!-- Math -->
<!-- #### -->

<!-- var is allowed only within a webwork problem         -->
<!-- xref is allowed only on mrows to allow for "reasons" -->
<!-- TODO: warn on use of var outside of webwork          -->
<!ELEMENT m   (#PCDATA|var|fillin)*>
<!ELEMENT me  (#PCDATA|var|fillin)*>
<!ELEMENT men (#PCDATA|var|fillin)*>
    <!ATTLIST men xml:id ID #IMPLIED>

<!ELEMENT md   (mrow, (mrow|intertext)*)>
    <!ATTLIST md  alignment      (align|gather|alignat) #IMPLIED>
    <!ATTLIST md  break          (yes|no) #IMPLIED>
<!ELEMENT mdn  (mrow, (mrow|intertext)*)>
    <!ATTLIST mdn alignment      (align|gather|alignat) #IMPLIED>
    <!ATTLIST mdn break          (yes|no) #IMPLIED>

<!-- <xref> may occur in an <mrow> as a "reason" -->
<!ELEMENT mrow (#PCDATA|var|xref|fillin)*>
    <!ATTLIST mrow xml:id ID #IMPLIED>
    <!ATTLIST mrow number (yes|no) #IMPLIED>
    <!ATTLIST mrow break  (yes|no) #IMPLIED>

<!-- simple text between rows of aligned equations -->
<!ELEMENT intertext (#PCDATA|%linear;)*>

<!-- ######### -->
<!-- Exercises -->
<!-- ######### -->

<!-- Inline and sectional -->

<!ELEMENT exercises (title?, index*, introduction?, (exercise|exercisegroup|todo)*, conclusion?)>
    <!ATTLIST exercises xml:id   ID       #IMPLIED>
    <!ATTLIST exercises xml:base CDATA    #IMPLIED>

<!ELEMENT exercisegroup (introduction?, exercise+, conclusion?)>
    <!ATTLIST exercisegroup xml:id ID             #IMPLIED>
    <!ATTLIST exercisegroup cols      (2|3|4|5|6) #IMPLIED>

<!ELEMENT exercise (title?, index*, ((statement, hint*, answer*, solution*)|(introduction?, webwork, conclusion?)))>
    <!ATTLIST exercise xml:id ID    #IMPLIED>
    <!ATTLIST exercise number CDATA #IMPLIED>
<!-- title, statement described elsewhere -->    
<!ELEMENT hint     (%para;)*>
    <!ATTLIST hint xml:id ID #IMPLIED>
<!ELEMENT answer   (%para;)*>
    <!ATTLIST answer xml:id ID #IMPLIED>
<!ELEMENT solution (%para;)*>
    <!ATTLIST solution xml:id ID #IMPLIED>

<!-- WeBWorK exercises -->
<!-- Outer one-or-none provides for empty element -->
<!ELEMENT webwork ((title?, index*, pg-macros?, setup?, ((statement, hint?, solution?)|(stage+)))?)>
    <!ATTLIST webwork xml:id ID     #IMPLIED>
    <!ATTLIST webwork source CDATA  #IMPLIED>
    <!ATTLIST webwork seed   CDATA  #IMPLIED>

<!ELEMENT pg-macros  (macro-file)*>
<!ELEMENT macro-file (#PCDATA)>

<!ELEMENT setup (var*,pg-code)>

<!-- Multistage problems have the usual lead-in, but then are organized with stages -->
<!ELEMENT stage (title?, statement, hint?, solution?)>

<!ELEMENT var (static?|set?)>
    <!ATTLIST var name       CDATA #IMPLIED>
    <!ATTLIST var category   CDATA #IMPLIED>
    <!ATTLIST var form       CDATA #IMPLIED>
    <!ATTLIST var evaluator  CDATA #IMPLIED>
    <!ATTLIST var width      CDATA #IMPLIED>
<!ELEMENT static (#PCDATA)>
<!ELEMENT set (member+)>
<!ELEMENT member (#PCDATA)>
    <!ATTLIST member correct   (yes|no)  #IMPLIED>

<!ELEMENT pg-code (#PCDATA)>

<!-- Video -->
<!ELEMENT video  EMPTY>
    <!ATTLIST video xml:id    ID    #IMPLIED>
    <!ATTLIST video width     CDATA #IMPLIED>
    <!ATTLIST video source    CDATA #IMPLIED>
    <!ATTLIST video youtube   CDATA #IMPLIED>
    <!ATTLIST video start     CDATA #IMPLIED>
    <!ATTLIST video end       CDATA #IMPLIED>

<!-- ###### -->
<!-- Images -->
<!-- ###### -->

<!-- Note: pg-name is exclusive to webwork -->
<!ELEMENT image  (description?, (latex-image-code|asymptote|sageplot)?)>
    <!ATTLIST image  xml:id    ID                    #IMPLIED>
    <!ATTLIST image  xml:base  CDATA                 #IMPLIED>
    <!ATTLIST image  xmlns:xi  CDATA                 #FIXED   "http://www.w3.org/2001/XInclude">
    <!ATTLIST image  source    CDATA                 #IMPLIED>
    <!ATTLIST image  width     CDATA                 #IMPLIED>
    <!ATTLIST image  pg-name   CDATA                 #IMPLIED>

<!-- typically for accessibility, also used in notation element -->
<!-- var is only active/usable within a webwork problem         -->
<!-- TODO: warn on var used elsewhere?                          -->
<!ELEMENT description   (#PCDATA|%linear;|var)*>

<!ELEMENT latex-image-code   (#PCDATA)>
    <!ATTLIST latex-image-code xml:base CDATA    #IMPLIED>
    <!ATTLIST latex-image-code xmlns:xi CDATA #FIXED "http://www.w3.org/2001/XInclude">

<!ELEMENT asymptote   (#PCDATA)>
<!ELEMENT sageplot    (#PCDATA)>

<!-- #################### -->
<!-- Quantities, SI Units -->
<!-- #################### -->

<!-- Note: prefix and base entities are sunchronized with  xsl/mathbook-units.xsl -->
<!-- (Also: It appears impossible to restrict  mag,  exp  to numerical values)    -->

<!ENTITY % prefix "yocto|zepto|atto|femto|pico|nano|micro|milli|centi|deci|deca|deka|hecto|kilo|mega|giga|tera|peta|exa|zetta|yotta">

<!ENTITY % base "ampere|candela|kelvin|gram|meter|metre|mole|second|becquerel|gray|sievert|degreeCelsius|celsius|coulomb|henry|ohm|siemens|tesla|volt|weber|hertz|katal|joule|newton|pascal|watt|lumen|lux|radian|steradian|degree|arcminute|arcsecond|day|hour|minute|hectare|liter|litre|percent|degreeFahrenheit|fahrenheit|pound|foot|inch|yard|mile|millennium|century|decade|year|month|week|kilometerperhour|kilometreperhour|mileperhour|gallon|milepergallon">

<!ELEMENT quantity   (mag*, unit*, per*)>

<!ELEMENT mag   (#PCDATA)>

<!ELEMENT unit  EMPTY>
    <!ATTLIST unit  prefix   (%prefix;)   #IMPLIED>
    <!ATTLIST unit  base     (%base;)     #IMPLIED>
    <!ATTLIST unit  exp      CDATA        #IMPLIED>

<!ELEMENT per   EMPTY>
    <!ATTLIST per   prefix   (%prefix;)   #IMPLIED>
    <!ATTLIST per   base     (%base;)     #IMPLIED>
    <!ATTLIST per   exp      CDATA        #IMPLIED>

<!-- ######## -->
<!-- Doc Info -->
<!-- ######## -->

<!-- A mini-database of relevant information with no natural home -->

<!ELEMENT docinfo   (brandlogo|latex-preamble|macros|latex-image-preamble|initialism|feedback|rename)*>
    <!ATTLIST docinfo xml:base CDATA    #IMPLIED>
    <!ATTLIST docinfo xmlns:xi CDATA #FIXED "http://www.w3.org/2001/XInclude">

<!-- url and image for HTML pages -->
<!ELEMENT brandlogo    EMPTY>
    <!ATTLIST brandlogo   url      CDATA   #IMPLIED>
    <!ATTLIST brandlogo   source   CDATA   #IMPLIED>

<!-- typically for short HTML titles on tabs, bookmarks, etc -->
<!ELEMENT initialism                 (#PCDATA)>

<!-- LaTeX packages, macros, image preamble, as raw data -->
<!ELEMENT latex-preamble  (package*)>
    <!ELEMENT package                (#PCDATA)>
<!ELEMENT macros                 (#PCDATA)>
<!ELEMENT latex-image-preamble   (#PCDATA)>

<!-- PROVISIONAL: url specification -->
<!-- For default feedback button, URL should really be -->
<!-- an attribute since URL element already exists     -->
<!ELEMENT feedback    (url)>
<!-- <!ELEMENT url   (#PCDATA)> -->

<!-- repurpose elements, a change in source -->
<!-- TODO:  lang  should be  xml:lang, as on main element? -->
<!ELEMENT rename    (#PCDATA)>
    <!ATTLIST rename   element  CDATA   #IMPLIED>
    <!ATTLIST rename   lang     CDATA   #IMPLIED>


<!-- ############ -->
<!-- Front Matter -->
<!-- ############ -->

<!-- There is variation as to what gets employed, across       -->
<!-- book, article, letter, memo which we try to indicate here -->

<!ELEMENT frontmatter   (titlepage?, colophon?, biography*, abstract?, dedication?, acknowledgement*, foreword*, preface*)>
    <!ATTLIST frontmatter xml:id ID #IMPLIED>
    <!ATTLIST frontmatter xml:base CDATA    #IMPLIED>
    <!ATTLIST frontmatter xmlns:xi CDATA #FIXED "http://www.w3.org/2001/XInclude">

<!ELEMENT titlepage   (author*,editor*,credit*,date?)>

<!ELEMENT author       (personname, department*, institution*, email*)>
<!ELEMENT editor       (personname, department*, institution*, email*)>
<!ELEMENT contributor  (personname, department*, institution*, email*)>
    <!ATTLIST contributor xml:id ID #IMPLIED>

<!ELEMENT personname   (#PCDATA|%characters;)*>
<!ELEMENT department   (#PCDATA|%linear;|line)*>
<!ELEMENT institution  (#PCDATA|%linear;|line)*>
<!ELEMENT email        (#PCDATA)>

<!ELEMENT credit   (title?, (author|editor)*)>

<!ELEMENT date        (#PCDATA|%characters;)*>

<!-- both "front" and "back" colophons -->
<!ELEMENT colophon   (title?, edition?, website?, copyright?, p*)>

<!-- front colophon items -->
<!ELEMENT edition    (#PCDATA)>
<!ELEMENT website    (name, address)>
    <!ELEMENT name       (#PCDATA)>
    <!ELEMENT address    (#PCDATA)>
<!ELEMENT copyright      (year, holder, minilicense?, shortlicense?)?>
    <!ELEMENT year           (#PCDATA|%linear;)*>
    <!ELEMENT holder         (#PCDATA|%linear;)*>
    <!ELEMENT minilicense    (#PCDATA|%linear;)*>
    <!ELEMENT shortlicense   (#PCDATA|%linear;)*>

<!ELEMENT biography (title?, index*, (%block;)*)>
    <!ATTLIST biography xml:id ID #IMPLIED>

<!ELEMENT abstract (title?, index*, (%block;)*)>
    <!ATTLIST abstract xml:id ID #IMPLIED>

<!-- The paragraphs of a dedication can be divided -->
<!-- with "line", this needs adjustment            -->
<!ELEMENT dedication   (title?, index*, p*)>
    <!ATTLIST dedication xml:id ID #IMPLIED>

<!ELEMENT acknowledgement (title?, index*, (%block;)*)>
    <!ATTLIST acknowledgement xml:id ID #IMPLIED>

<!ELEMENT foreword (title?, index*, (%block;)*, attribution*)>
    <!ATTLIST foreword xml:id ID #IMPLIED>

<!ELEMENT preface (title?, index*, (%block;)*, attribution*)>
    <!ATTLIST preface xml:id ID #IMPLIED>

<!-- ########### -->
<!-- Back Matter -->
<!-- ########### -->

<!ELEMENT backmatter (title?, appendix*, references?, index-part?, colophon?)>
    <!ATTLIST backmatter xml:id ID #IMPLIED>
    <!ATTLIST backmatter xml:base CDATA    #IMPLIED>
    <!ATTLIST backmatter xmlns:xi CDATA #FIXED "http://www.w3.org/2001/XInclude">

<!-- Appendix is modeled closely on a book/chapter -->
<!-- An article/section model may be added         -->
<!-- Also, various "automatic" lists can go inside an appendix        -->
<!ELEMENT appendix (title?, index*, author*, ((%block;)*|(introduction?, (section|exercises|references)*, conclusion?)))>
    <!ATTLIST appendix xml:id   ID       #IMPLIED>
    <!ATTLIST appendix xml:base CDATA    #IMPLIED>
    <!ATTLIST appendix xmlns:xi CDATA #FIXED "http://www.w3.org/2001/XInclude">

<!ELEMENT index-part (title?, index-list)>
    <!ATTLIST index-part xml:id   ID       #IMPLIED>

<!-- index-list is just a marker to generate the actual index entries -->
<!ELEMENT index-list EMPTY>


<!-- rear colophon items -->
<!-- a sequence of "p" -->

<!-- ######################## -->
<!-- Bibliographic References -->
<!-- ######################## -->

<!-- This needs serious work - this is 100% PROVISIONAL           -->
<!-- As-is, this needs more structure to accomodate note properly -->
<!-- And  note  is also a remark-like environment                 -->
<!ELEMENT references (title?, index*, introduction?, biblio*, conclusion?)>
    <!ATTLIST references xml:id   ID       #IMPLIED>

<!ELEMENT biblio  (#PCDATA|%linear;|ibid|author|title|journal|year|volume|number|note)*>
    <!ATTLIST biblio xml:id ID    #IMPLIED>
    <!ATTLIST biblio type   (raw) #REQUIRED>
<!ELEMENT ibid  EMPTY>
<!-- <!ELEMENT author   (#PCDATA|%linear;)*> -->
<!-- title defined above, could conflict -->
<!ELEMENT journal  (#PCDATA|%linear;)*>
<!-- <!ELEMENT year     (#PCDATA|%linear;)*> -->
<!ELEMENT volume   (#PCDATA|%linear;)*>
<!ELEMENT number   (#PCDATA|%linear;)*>

