schema/pretext-dev.rnc


              namespace xhtml = "http://www.w3.org/1999/xhtml"
                grammar {

                include "pretext.rnc"
            
            Interactive =
                element interactive {
                    UniqueID?,
                    LabelID?,
                    Component?,
                    attribute aspect { text }?,
                    attribute width { text }?,
                    attribute platform { text }?,
                    attribute preview { text }?,
                    attribute iframe { text }?,
                    attribute source { text }?,
                    attribute version { text }?,
                    (
                      (
                        Slate |
                        SideBySideNoCaption |
                        SideBySideGroupNoCaption
                      )* &
                      element instructions { mixed { MetaDataTitleOptional, BlockText } }? &
                      element static { Image }?
                    )

                }

            Stack |=
                element stack {
                    (
                        Tabular |
                        Image |
                        Video |
                        Program |
                        Console |
                        Paragraph |
                        Preformatted |
                        List |
                        Slate
                    )+
                }

            Slate =
                element slate {
                    UniqueID?,
                    LabelID?,
                    Component?,
                    (
                      JessieCodeAtt |
                      (
                        attribute surface { text },
                        (
                          attribute source { text } |
                          attribute material { text }
                        )?,
                        attribute aspect { text }?,
                        (
                          Paragraph |
                          Tabular |
                          SideBySideNoCaption |
                          SlateInput |
                          element xhtml:button {
                            attribute type { text },
                            attribute id { text },
                            text*
                          }? |
                          text*
                        )*
                      )
                    )
                }

              JessieCodeAtt =
                attribute surface {"jessiecode"},
                attribute axis {"true" | "false"}?,
                attribute grid {"true" | "false"}?,
                (
                  attribute source {text} |
                  text*
                )

              SlateInput =
                element input {
                  attribute type {text}?,
                  attribute value {text}?,
                  attribute onkeypress {text}?,
                  attribute onclick {text}?,
                  attribute style {text}?
                }

            # add Interactives where used
            BlockStatement |= Interactive

            Figure |= element figure { MetaDataCaption, Interactive }

            SideBySide |= element sidebyside {
                SidebySideAttributes,
                (Interactive | Slate)+
            }

            SideBySideNoCaption |= element sidebyside {
                SidebySideAttributes,
                (Interactive | Slate)+
            }

            Exercises |= element exercises {
                MetaDataAltTitleOptional,
                IntroductionDivision?,
                (
                (Exercise | ExerciseGroup)+ |
                Subexercises+ | Interactive
                ),
                ConclusionDivision?
            }
            
            ShortLicense_X =
                element shortlicense {
                    TextLong &
                    Footnote*
                }
            ShortLicense |= ShortLicense_X
            Website_X = element website {
                element name {TextShort},
                element address {text}
            }
            Website |= Website_X
            
            Configuration |=
                element blurb {
                    attribute shelf {text},
                    text
                }
            
            Configuration |=
                element document-id {
                    attribute edition {text}?,
                    text
                }
            
            ProofLike =
                MetaDataTitleOptional,
                (BlockStatement | Case)+
            Proof |=
                element proof {ProofLike} |
                element argument {ProofLike} |
                element justification {ProofLike} |
                element reasoning {ProofLike} |
                element explanation {ProofLike}
            
            Figure |=
                element figure {
                    MetaDataCaption,
                    Tabular
                }

            
            WorksheetAttributes =
                attribute margin { text }?,
                attribute top { text }?,
                attribute bottom { text }?,
                attribute right { text }?,
                attribute left { text }?

            WorksheetBlock =
                BlockStatement | Remark | Computation | Theorem | Proof | Definition |
                Axiom | Example | WorksheetExercise | Project |
                Poem | Assemblage | ListGenerator | Fragment |
                WorksheetSideBySide
            # Allow exercise in sidebyside
            WorksheetSideBySide =
                element sidebyside {
                    SidebySideAttributes,
                    (
                        Figure |
                        Poem |
                        Tabular |
                        Image |
                        Video |
                        Program |
                        Console |
                        Paragraph |
                        Preformatted |
                        List |
                        Stack |
                        WorksheetExercise |
                        WorksheetTask
                    )+
                }
            # Exercises and tasks can have workspace if they don't contain additional tasks:
            WorksheetExercise =
                element exercise {
                    MetaDataTitleOptional,
                    attribute number {text}?,
                    attribute workspace {text}?,
                    (
                    ExerciseBody |
                    (StatementExercise, Hint*, Answer*, Solution*) |
                    (IntroductionText?, WebWork, ConclusionText?)
                    )
                }
            WorksheetExercise |=
                element exercise {
                    MetaDataTitleOptional,
                    attribute number {text}?,
                    attribute workspace {text}?,
                    (IntroductionStatement?, WorksheetTask+, ConclusionStatement?)
                }
            WorksheetTask =
                element task {
                    MetaDataTitleOptional,
                    attribute workspace {text}?,
                    (
                        BlockStatement+ |
                        (Statement, Hint*, Answer*, Solution*)
                    )
                }
            WorksheetTask |=
                element task {
                    MetaDataTitleOptional,
                    attribute workspace {text}?,
                    (IntroductionStatement?, WorksheetTask+, ConclusionStatement?)
                }
            # Main worksheet definition
            Worksheet =
                element worksheet {
                    WorksheetAttributes,
                    MetaDataAltTitleOptional,
                    (Objectives? & IntroductionDivision?),
                    (
                    element page {WorksheetBlock+|empty}+ | WorksheetBlock+),
                    (Outcomes? & ConclusionDivision?)
                }

            # Insert worksheets into divisions (merge with division when adopted)
            Chapter |=
                element chapter {
                    MetaDataLinedTitle,
                    AuthorByline*,
                    (
                        (
                            Objectives?,
                            (BlockDivision | Paragraphs)+,
                            (Worksheet? & ReadingQuestions? & Exercises? &
                             Solutions? & References? & Glossary?),
                            Outcomes?
                        )
                    |
                        (
                            (Objectives? & IntroductionDivision?),
                            (Section | Worksheet),
                            (Section | Worksheet | ReadingQuestions | Exercises |
                             Solutions | References | Glossary)*,
                            (Outcomes? & ConclusionDivision?)
                        )
                    )
                }
            Section |=
                element section {
                    MetaDataLinedTitle,
                    AuthorByline*,
                    (
                        (
                            Objectives?,
                            (BlockDivision | Paragraphs)+,
                            (Worksheet? & ReadingQuestions? & Exercises? &
                             Solutions? & References? & Glossary?),
                            Outcomes?
                        )
                    |
                        (
                            (Objectives? & IntroductionDivision?),
                            (Subsection | Worksheet),
                            (Subsection | Worksheet | ReadingQuestions | Exercises |
                             Solutions | References | Glossary)*,
                            (Outcomes? & ConclusionDivision?)
                        )
                    )
                }
            Subsection |=
                element subsection {
                    MetaDataAltTitle,
                    AuthorByline*,
                    (
                        (
                            Objectives?,
                            (BlockDivision | Paragraphs)+,
                            (Worksheet? & ReadingQuestions? & Exercises? &
                             Solutions? & References? & Glossary?),
                            Outcomes?
                        )
                    |
                        (
                            (Objectives? & IntroductionDivision?),
                            (Subsubsection | Worksheet),
                            (Subsubsection | Worksheet | ReadingQuestions | Exercises |
                             Solutions | References | Glossary)*,
                            (Outcomes? & ConclusionDivision?)
                        )
                    )
                }
            Subsubsection |=
                element subsubsection {
                    MetaDataAltTitle,
                    AuthorByline*,
                    Objectives?,
                    (BlockDivision | Paragraphs)+,
                    (Worksheet? & ReadingQuestions? & Exercises? &
                     Solutions? & References? & Glossary?),
                    Outcomes?
                }
            ArticleAppendix |=
                element appendix {
                    MetaDataAltTitle,
                    AuthorByline*,
                    (
                        (
                            Objectives?,
                            (BlockDivision | Paragraphs | NotationList)+,
                            (Worksheet? & ReadingQuestions? & Exercises? &
                             Solutions? & References? & Glossary?),
                            Outcomes?
                        )
                    |
                        (
                            (Objectives? & IntroductionDivision?),
                            (Subsection | Worksheet),
                            (Subsection | Worksheet | ReadingQuestions | Exercises |
                             Solutions | References | Glossary)*,
                            (Outcomes? & ConclusionDivision?)
                        )
                    )
                }
            BookAppendix |=
                element appendix {
                    MetaDataAltTitle,
                    AuthorByline*,
                    (
                        (
                            Objectives?,
                            (BlockDivision | Paragraphs | NotationList)+,
                            (Worksheet? & ReadingQuestions? & Exercises? &
                             Solutions? & References? & Glossary?),
                            Outcomes?
                        )
                    |
                        (
                            (Objectives? & IntroductionDivision?),
                            (Section | Worksheet),
                            (Section | Worksheet | ReadingQuestions | Exercises | Solutions | References | Glossary)*,
                            (Outcomes? & ConclusionDivision?)
                        )
                    )
                }
            
            Solutions |=
                element solutions {
                    MetaDataAltTitleOptional,
                    attribute inline {text}?,
                    attribute divisional {text}?,
                    attribute project {text}?,
                    attribute worksheet {text}?,
                    attribute reading {text}?,
                    attribute scope {text}?,
                    attribute admit {"all"|"odd"|"even"}?,
                    IntroductionDivision?,
                    ConclusionDivision?
                }
            
            MathDisplay |=
                element me {
                    MetaDataTarget?,
                    mixed {(Xref | FillInMath | WWVariable)*}
                } |
                element men {
                    MetaDataTarget?,
                    mixed {(Xref | FillInMath | WWVariable)*}
                } |
                element md {
                    attribute number {"yes" | "no"}?,
                    attribute break {"yes" | "no"}?,
                    attribute alignment {text}?,
                    attribute alignat-columns {text}?,
                    MathRow,
                    (MathRow | MathIntertext)*
                } |
                element mdn {
                    attribute number {"yes" | "no"}?,
                    attribute break {"yes" | "no"}?,
                    attribute alignment {text}?,
                    attribute alignat-columns {text}?,
                    MathRow,
                    (MathRow | MathIntertext)*
                }
            
            MyOpenMath =
                MetaDataTitleOptional,
                IntroductionText?,
                element myopenmath {
                    attribute problem {text},
                    attribute params {text}?
                },
                ConclusionText?
            TrueFalse =
                MetaDataTitleOptional,
                attribute number {text}?,
                element statement {
                    attribute correct {"yes"|"no"},
                    Paragraph
                },
                Feedback?, Hint*, Answer*, Solution*
            MultipleChoice =
                MetaDataTitleOptional,
                attribute number {text}?,
                StatementExercise,
                element choices {
                    attribute randomize {"yes"|"no"}?,
                    Choice+
                },
                Hint*, Answer*, Solution*
            Choice =
                element choice {
                    attribute correct {"yes"|"no"}?,
                    ((mixed {BlockText?})
                    | (StatementExercise, Feedback?))
                }
            Parsons =
                    MetaDataTitleOptional,
                    attribute number {text}?,
                    attribute language {text}?,
                    attribute adaptive {"yes"|"no"}?,
                    attribute indentation {text}?,
                    StatementExercise,
                    element blocks {
                        attribute layout {"horizontal"}?,
                        attribute randomize {"yes"|"no"}?,
                        Block+
                    },
                    Hint*, Answer*, Solution*,
                    (
                        element preamble {
                            attribute indent {text}?,
                            text
                        }?,
                        Program,
                        element postamble {
                            attribute indent {text}?,
                            text
                        }?
                    )?
            Block =
                element block {
                    attribute order {xsd:integer}?,
                    ((
                        attribute correct {"yes"|"no"}?,
                        mixed {BlockText?, CodeLine?}+
                    ) |
                    (
                        element choice {
                            attribute correct {"yes"|"no"}?,
                            mixed {BlockText?, CodeLine?}+
                        }+
                    ))
                }
            Matching =
                MetaDataTitleOptional,
                attribute number {text}?,
                StatementExercise,
                Feedback?,
                Matches,
                Hint*, Answer*, Solution*
            Matches = (
                element matches {
                    Match+
                } |
                element cardsort {
                    Match+
                })
            Match =
                element match {
                    attribute order {xsd:integer}?,
                    element premise {
                        attribute order {xsd:integer}?,
                        mixed {BlockText?}
                    },
                    element response {
                        mixed {BlockText?}
                    }
                }
            FreeResponse =
                MetaDataTitleOptional,
                attribute number {text}?,
                attribute attachment {"yes" | "no"}?,
                (
                (ExerciseBody, Response?) |
                (StatementExercise, Response?, Hint*, Answer*, Solution*) |
                (IntroductionStatement?, Task+, ConclusionStatement?)
                )
            Response =
                element response {empty}


            # Selectable areas
            Area =
                element area {
                    attribute correct {"yes"|"no"}?,
                    TextLong
                }
            TextLongAreas =  mixed { (
                  Area |
                  Character |
                  Generator |
                  Verbatim |
                  GroupAreas |
                  MathInline |
                  Music |
                  Reference |
                  WWVariable)* }
            GroupAreas |=
                element q {TextLongAreas} |
                element sq {TextLongAreas}
            TextParagraphAreas = mixed { (
              Character |
              Generator |
              Verbatim |
              Group |
              WWVariable |
              MathInline |
              Music |
              Reference |
              CodeDisplay |
              MathDisplay |
              List |
              Footnote |
              Notation |
              Index |
              Area |
              GroupAreas)* }
            ParagraphAreas =
                element p {
                    UniqueID?,
                    LabelID?,
                    Component?,
                    TextParagraphAreas
                }
            Areas =
                MetaDataTitleOptional,
                attribute number {text}?,
                StatementExercise,
                Feedback?,
                element areas {
                  ParagraphAreas+
                },
                Hint*, Answer*, Solution*

            # General feedback element
            Feedback =
                element feedback {
                    MetaDataTitleOptional,
                    BlockSolution+
                }
            # Include all exercise types in exercise and activity
            Exercise |=
                element exercise {
                    MyOpenMath |
                    TrueFalse |
                    MultipleChoice |
                    Parsons |
                    Matching |
                    FreeResponse |
                    Areas
                }
            ProjectLike |=
                MyOpenMath |
                TrueFalse |
                MultipleChoice |
                Parsons |
                Matching |
                FreeResponse |
                Areas
            
                }
            