schema/pretext-dev.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar xmlns:xhtml="http://www.w3.org/1999/xhtml" xmlns="http://relaxng.org/ns/structure/1.0" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
  <include href="pretext.rng"/>
  <define name="Interactive">
    <element name="interactive">
      <optional>
        <ref name="UniqueID"/>
      </optional>
      <optional>
        <ref name="LabelID"/>
      </optional>
      <optional>
        <ref name="Component"/>
      </optional>
      <optional>
        <attribute name="aspect"/>
      </optional>
      <optional>
        <attribute name="width"/>
      </optional>
      <optional>
        <attribute name="platform"/>
      </optional>
      <optional>
        <attribute name="preview"/>
      </optional>
      <optional>
        <attribute name="iframe"/>
      </optional>
      <optional>
        <attribute name="source"/>
      </optional>
      <optional>
        <attribute name="version"/>
      </optional>
      <optional>
        <attribute name="circuitjs"/>
      </optional>
      <optional>
        <attribute name="calcplot3d"/>
      </optional>
      <optional>
        <attribute name="geogebra"/>
      </optional>
      <optional>
        <attribute name="desmos"/>
      </optional>
      <optional>
        <!--
          currently only consumed by the CalcPlot3D flavor;
          widen this enum if another flavor adopts "@variant"
        -->
        <attribute name="variant">
          <choice>
            <value>application</value>
            <value>controls</value>
            <value>minimal</value>
          </choice>
        </attribute>
      </optional>
      <optional>
        <attribute name="dark-mode-enabled"/>
      </optional>
      <optional>
        <attribute name="resize-behavior"/>
      </optional>
      <optional>
        <attribute name="css"/>
      </optional>
      <optional>
        <attribute name="design-width"/>
      </optional>
      <optional>
        <attribute name="reset-icon"/>
      </optional>
      <interleave>
        <optional>
          <ref name="ImageShortDescription"/>
        </optional>
        <optional>
          <ref name="ImageDescription"/>
        </optional>
        <zeroOrMore>
          <choice>
            <ref name="Slate"/>
            <ref name="SideBySideNoNumber"/>
            <ref name="SideBySideGroupNoNumber"/>
          </choice>
        </zeroOrMore>
        <zeroOrMore>
          <element name="script">
            <optional>
              <attribute name="type"/>
            </optional>
            <text/>
          </element>
        </zeroOrMore>
        <optional>
          <element name="source">
            <text/>
          </element>
        </optional>
        <optional>
          <element name="instructions">
            <mixed>
              <ref name="MetaDataTitleOptional"/>
              <oneOrMore>
                <ref name="BlockText"/>
              </oneOrMore>
            </mixed>
          </element>
        </optional>
        <optional>
          <element name="static">
            <ref name="Image"/>
          </element>
        </optional>
      </interleave>
    </element>
  </define>
  <define name="Stack" combine="choice">
    <element name="stack">
      <oneOrMore>
        <choice>
          <ref name="Tabular"/>
          <ref name="Image"/>
          <ref name="Video"/>
          <ref name="Audio"/>
          <ref name="Program"/>
          <ref name="Console"/>
          <ref name="Paragraph"/>
          <ref name="Preformatted"/>
          <ref name="List"/>
          <ref name="Slate"/>
        </choice>
      </oneOrMore>
    </element>
  </define>
  <define name="Slate">
    <element name="slate">
      <optional>
        <ref name="UniqueID"/>
      </optional>
      <optional>
        <ref name="LabelID"/>
      </optional>
      <optional>
        <ref name="Component"/>
      </optional>
      <choice>
        <ref name="JessieCodeAtt"/>
        <group>
          <attribute name="surface"/>
          <optional>
            <choice>
              <attribute name="source"/>
              <attribute name="material"/>
            </choice>
          </optional>
          <optional>
            <attribute name="aspect"/>
          </optional>
          <optional>
            <attribute name="perspective"/>
          </optional>
          <zeroOrMore>
            <choice>
              <ref name="Paragraph"/>
              <ref name="Tabular"/>
              <ref name="SideBySideNoNumber"/>
              <ref name="SlateInput"/>
              <ref name="AnyXhtml"/>
              <optional>
                <element name="xhtml:button">
                  <attribute name="type"/>
                  <attribute name="id"/>
                  <zeroOrMore>
                    <text/>
                  </zeroOrMore>
                </element>
              </optional>
              <zeroOrMore>
                <text/>
              </zeroOrMore>
            </choice>
          </zeroOrMore>
        </group>
      </choice>
    </element>
  </define>
  <define name="JessieCodeAtt">
    <attribute name="surface">
      <value>jessiecode</value>
    </attribute>
    <optional>
      <attribute name="axis">
        <choice>
          <value>true</value>
          <value>false</value>
        </choice>
      </attribute>
    </optional>
    <optional>
      <attribute name="grid">
        <choice>
          <value>true</value>
          <value>false</value>
        </choice>
      </attribute>
    </optional>
    <choice>
      <attribute name="source"/>
      <zeroOrMore>
        <text/>
      </zeroOrMore>
    </choice>
  </define>
  <define name="SlateInput">
    <element name="input">
      <optional>
        <attribute name="type"/>
      </optional>
      <optional>
        <attribute name="value"/>
      </optional>
      <optional>
        <attribute name="onkeypress"/>
      </optional>
      <optional>
        <attribute name="onclick"/>
      </optional>
      <optional>
        <attribute name="style"/>
      </optional>
    </element>
  </define>
  <!-- A slate with surface="html" embeds an arbitrary XHTML fragment. -->
  <define name="AnyXhtml">
    <element>
      <nsName ns="http://www.w3.org/1999/xhtml"/>
      <zeroOrMore>
        <attribute>
          <anyName/>
        </attribute>
      </zeroOrMore>
      <mixed>
        <zeroOrMore>
          <ref name="AnyXhtml"/>
        </zeroOrMore>
      </mixed>
    </element>
  </define>
  <!-- add Interactives where used -->
  <define name="BlockStatement" combine="choice">
    <ref name="Interactive"/>
  </define>
  <define name="Figure" combine="choice">
    <element name="figure">
      <ref name="MetaDataCaption"/>
      <ref name="Interactive"/>
    </element>
  </define>
  <define name="SideBySide" combine="choice">
    <element name="sidebyside">
      <ref name="SidebySideAttributes"/>
      <oneOrMore>
        <choice>
          <ref name="Interactive"/>
          <ref name="Slate"/>
        </choice>
      </oneOrMore>
    </element>
  </define>
  <define name="SideBySideNoNumber" combine="choice">
    <element name="sidebyside">
      <ref name="SidebySideAttributes"/>
      <oneOrMore>
        <choice>
          <ref name="Interactive"/>
          <ref name="Slate"/>
        </choice>
      </oneOrMore>
    </element>
  </define>
  <define name="Exercises" combine="choice">
    <element name="exercises">
      <ref name="MetaDataAltTitleOptional"/>
      <optional>
        <ref name="IntroductionDivision"/>
      </optional>
      <choice>
        <oneOrMore>
          <choice>
            <ref name="Exercise"/>
            <ref name="ExerciseGroup"/>
          </choice>
        </oneOrMore>
        <oneOrMore>
          <ref name="Subexercises"/>
        </oneOrMore>
        <ref name="Interactive"/>
      </choice>
      <optional>
        <ref name="ConclusionDivision"/>
      </optional>
    </element>
  </define>
  <define name="ShortLicense_X">
    <element name="shortlicense">
      <interleave>
        <ref name="TextLong"/>
        <zeroOrMore>
          <ref name="Footnote"/>
        </zeroOrMore>
      </interleave>
    </element>
  </define>
  <define name="ShortLicense" combine="choice">
    <ref name="ShortLicense_X"/>
  </define>
  <define name="Website_X">
    <element name="website">
      <element name="name">
        <ref name="TextShort"/>
      </element>
      <element name="address">
        <text/>
      </element>
    </element>
  </define>
  <define name="Website" combine="choice">
    <ref name="Website_X"/>
  </define>
  <define name="Configuration" combine="choice">
    <element name="blurb">
      <optional>
        <attribute name="shelf"/>
      </optional>
      <text/>
    </element>
  </define>
  <define name="Configuration" combine="choice">
    <element name="document-id">
      <optional>
        <attribute name="edition"/>
      </optional>
      <text/>
    </element>
  </define>
  <define name="ProofLike">
    <ref name="MetaDataTitleOptional"/>
    <oneOrMore>
      <choice>
        <ref name="BlockStatement"/>
        <ref name="Case"/>
      </choice>
    </oneOrMore>
  </define>
  <define name="Proof" combine="choice">
    <choice>
      <element name="proof">
        <ref name="ProofLike"/>
      </element>
      <element name="argument">
        <ref name="ProofLike"/>
      </element>
      <element name="justification">
        <ref name="ProofLike"/>
      </element>
      <element name="reasoning">
        <ref name="ProofLike"/>
      </element>
      <element name="explanation">
        <ref name="ProofLike"/>
      </element>
    </choice>
  </define>
  <define name="Figure" combine="choice">
    <element name="figure">
      <ref name="MetaDataCaption"/>
      <ref name="Tabular"/>
    </element>
  </define>
  <!-- Main handout definition -->
  <define name="Handout">
    <element name="handout">
      <ref name="PrintoutAttributes"/>
      <ref name="MetaDataAltTitleOptional"/>
      <interleave>
        <optional>
          <ref name="Objectives"/>
        </optional>
        <optional>
          <ref name="IntroductionDivision"/>
        </optional>
      </interleave>
      <choice>
        <oneOrMore>
          <ref name="Page"/>
        </oneOrMore>
        <oneOrMore>
          <ref name="PrintoutBlock"/>
        </oneOrMore>
      </choice>
      <interleave>
        <optional>
          <ref name="Outcomes"/>
        </optional>
        <optional>
          <ref name="ConclusionDivision"/>
        </optional>
      </interleave>
    </element>
  </define>
  <!-- Add Handout to Printout options -->
  <define name="Printout" combine="choice">
    <ref name="Handout"/>
  </define>
  <define name="Solutions" combine="choice">
    <element name="solutions">
      <ref name="MetaDataAltTitleOptional"/>
      <optional>
        <attribute name="inline"/>
      </optional>
      <optional>
        <attribute name="divisional"/>
      </optional>
      <optional>
        <attribute name="project"/>
      </optional>
      <optional>
        <attribute name="worksheet"/>
      </optional>
      <optional>
        <attribute name="reading"/>
      </optional>
      <optional>
        <attribute name="scope"/>
      </optional>
      <optional>
        <attribute name="admit">
          <choice>
            <value>all</value>
            <value>odd</value>
            <value>even</value>
          </choice>
        </attribute>
      </optional>
      <optional>
        <ref name="IntroductionDivision"/>
      </optional>
      <optional>
        <ref name="ConclusionDivision"/>
      </optional>
    </element>
  </define>
  <define name="MyOpenMath">
    <ref name="MetaDataTitleOptional"/>
    <optional>
      <ref name="IntroductionText"/>
    </optional>
    <element name="myopenmath">
      <attribute name="problem"/>
      <optional>
        <attribute name="params"/>
      </optional>
    </element>
    <optional>
      <ref name="ConclusionText"/>
    </optional>
  </define>
  <define name="TrueFalse">
    <ref name="MetaDataTitleOptional"/>
    <optional>
      <attribute name="number"/>
    </optional>
    <element name="statement">
      <attribute name="correct">
        <choice>
          <value>yes</value>
          <value>no</value>
        </choice>
      </attribute>
      <ref name="Paragraph"/>
    </element>
    <optional>
      <ref name="Feedback"/>
    </optional>
    <zeroOrMore>
      <ref name="Hint"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="Answer"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="Solution"/>
    </zeroOrMore>
  </define>
  <define name="MultipleChoice">
    <ref name="MetaDataTitleOptional"/>
    <optional>
      <attribute name="number"/>
    </optional>
    <ref name="StatementExercise"/>
    <element name="choices">
      <optional>
        <attribute name="randomize">
          <choice>
            <value>yes</value>
            <value>no</value>
          </choice>
        </attribute>
      </optional>
      <oneOrMore>
        <ref name="Choice"/>
      </oneOrMore>
    </element>
    <zeroOrMore>
      <ref name="Hint"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="Answer"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="Solution"/>
    </zeroOrMore>
  </define>
  <define name="Choice">
    <element name="choice">
      <optional>
        <attribute name="correct">
          <choice>
            <value>yes</value>
            <value>no</value>
          </choice>
        </attribute>
      </optional>
      <choice>
        <mixed>
          <optional>
            <ref name="BlockText"/>
          </optional>
        </mixed>
        <group>
          <ref name="StatementExercise"/>
          <optional>
            <ref name="Feedback"/>
          </optional>
        </group>
      </choice>
    </element>
  </define>
  <define name="Parsons">
    <ref name="MetaDataTitleOptional"/>
    <optional>
      <attribute name="number"/>
    </optional>
    <optional>
      <attribute name="language"/>
    </optional>
    <optional>
      <attribute name="adaptive">
        <choice>
          <value>yes</value>
          <value>no</value>
        </choice>
      </attribute>
    </optional>
    <optional>
      <attribute name="indentation"/>
    </optional>
    <ref name="StatementExercise"/>
    <element name="blocks">
      <optional>
        <attribute name="layout">
          <value>horizontal</value>
        </attribute>
      </optional>
      <optional>
        <attribute name="randomize">
          <choice>
            <value>yes</value>
            <value>no</value>
          </choice>
        </attribute>
      </optional>
      <choice>
        <oneOrMore>
          <ref name="BlockOrdered"/>
        </oneOrMore>
        <oneOrMore>
          <ref name="BlockUnordered"/>
        </oneOrMore>
      </choice>
    </element>
    <zeroOrMore>
      <ref name="Hint"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="Answer"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="Solution"/>
    </zeroOrMore>
    <optional>
      <optional>
        <element name="preamble">
          <optional>
            <attribute name="indent"/>
          </optional>
          <text/>
        </element>
      </optional>
      <ref name="Program"/>
      <optional>
        <element name="postamble">
          <optional>
            <attribute name="indent"/>
          </optional>
          <text/>
        </element>
      </optional>
    </optional>
  </define>
  <define name="BlockBody">
    <choice>
      <group>
        <optional>
          <attribute name="correct">
            <choice>
              <value>yes</value>
              <value>no</value>
            </choice>
          </attribute>
        </optional>
        <oneOrMore>
          <mixed>
            <optional>
              <ref name="BlockText"/>
            </optional>
            <optional>
              <ref name="CodeLine"/>
            </optional>
          </mixed>
        </oneOrMore>
      </group>
      <oneOrMore>
        <element name="choice">
          <optional>
            <attribute name="correct">
              <choice>
                <value>yes</value>
                <value>no</value>
              </choice>
            </attribute>
          </optional>
          <oneOrMore>
            <mixed>
              <optional>
                <ref name="BlockText"/>
              </optional>
              <optional>
                <ref name="CodeLine"/>
              </optional>
            </mixed>
          </oneOrMore>
        </element>
      </oneOrMore>
    </choice>
  </define>
  <define name="BlockOrdered">
    <element name="block">
      <attribute name="order">
        <data type="integer"/>
      </attribute>
      <ref name="BlockBody"/>
    </element>
  </define>
  <define name="BlockUnordered">
    <element name="block">
      <ref name="BlockBody"/>
    </element>
  </define>
  <define name="Matching">
    <ref name="MetaDataTitleOptional"/>
    <optional>
      <attribute name="number"/>
    </optional>
    <ref name="StatementExercise"/>
    <optional>
      <ref name="Feedback"/>
    </optional>
    <ref name="Matches"/>
    <zeroOrMore>
      <ref name="Hint"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="Answer"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="Solution"/>
    </zeroOrMore>
  </define>
  <define name="Matches">
    <choice>
      <element name="cardsort">
        <oneOrMore>
          <ref name="Match"/>
        </oneOrMore>
      </element>
      <element name="matching">
        <oneOrMore>
          <element name="premise">
            <optional>
              <attribute name="ref"/>
            </optional>
            <ref name="TextLong"/>
          </element>
        </oneOrMore>
        <oneOrMore>
          <element name="response">
            <ref name="UniqueID"/>
            <optional>
              <attribute name="order">
                <data type="integer"/>
              </attribute>
            </optional>
            <ref name="TextLong"/>
          </element>
        </oneOrMore>
      </element>
    </choice>
  </define>
  <define name="Match">
    <element name="match">
      <oneOrMore>
        <element name="premise">
          <optional>
            <attribute name="order">
              <data type="integer"/>
            </attribute>
          </optional>
          <ref name="TextLong"/>
        </element>
      </oneOrMore>
      <element name="response">
        <ref name="TextLong"/>
      </element>
    </element>
  </define>
  <define name="FreeResponse">
    <ref name="MetaDataTitleOptional"/>
    <optional>
      <attribute name="number"/>
    </optional>
    <optional>
      <attribute name="attachment">
        <choice>
          <value>yes</value>
          <value>no</value>
        </choice>
      </attribute>
    </optional>
    <choice>
      <group>
        <ref name="ExerciseBody"/>
        <optional>
          <ref name="Response"/>
        </optional>
      </group>
      <group>
        <ref name="StatementExercise"/>
        <optional>
          <ref name="Response"/>
        </optional>
        <zeroOrMore>
          <ref name="Hint"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="Answer"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="Solution"/>
        </zeroOrMore>
      </group>
      <group>
        <optional>
          <ref name="IntroductionStatement"/>
        </optional>
        <oneOrMore>
          <ref name="Task"/>
        </oneOrMore>
        <optional>
          <ref name="ConclusionStatement"/>
        </optional>
      </group>
    </choice>
  </define>
  <define name="Response">
    <element name="response">
      <empty/>
    </element>
  </define>
  <!-- Selectable areas -->
  <define name="Area">
    <element name="area">
      <optional>
        <attribute name="correct">
          <choice>
            <value>yes</value>
            <value>no</value>
          </choice>
        </attribute>
      </optional>
      <ref name="TextLong"/>
    </element>
  </define>
  <define name="TextLongAreas">
    <mixed>
      <zeroOrMore>
        <choice>
          <ref name="Area"/>
          <ref name="Character"/>
          <ref name="Generator"/>
          <ref name="Verbatim"/>
          <ref name="GroupAreas"/>
          <ref name="MathInline"/>
          <ref name="Music"/>
          <ref name="Reference"/>
          <ref name="WWVariable"/>
        </choice>
      </zeroOrMore>
    </mixed>
  </define>
  <define name="GroupAreas" combine="choice">
    <choice>
      <element name="q">
        <ref name="TextLongAreas"/>
      </element>
      <element name="sq">
        <ref name="TextLongAreas"/>
      </element>
    </choice>
  </define>
  <define name="TextParagraphAreas">
    <mixed>
      <zeroOrMore>
        <choice>
          <ref name="Character"/>
          <ref name="Generator"/>
          <ref name="Verbatim"/>
          <ref name="Group"/>
          <ref name="WWVariable"/>
          <ref name="MathInline"/>
          <ref name="Music"/>
          <ref name="Reference"/>
          <ref name="CodeDisplay"/>
          <ref name="MathDisplay"/>
          <ref name="List"/>
          <ref name="Footnote"/>
          <ref name="Notation"/>
          <ref name="Index"/>
          <ref name="Area"/>
          <ref name="GroupAreas"/>
        </choice>
      </zeroOrMore>
    </mixed>
  </define>
  <define name="ParagraphAreas">
    <element name="p">
      <optional>
        <ref name="UniqueID"/>
      </optional>
      <optional>
        <ref name="LabelID"/>
      </optional>
      <optional>
        <ref name="Component"/>
      </optional>
      <ref name="TextParagraphAreas"/>
    </element>
  </define>
  <define name="Areas">
    <ref name="MetaDataTitleOptional"/>
    <optional>
      <attribute name="number"/>
    </optional>
    <ref name="StatementExercise"/>
    <element name="areas">
      <oneOrMore>
        <ref name="ParagraphAreas"/>
      </oneOrMore>
    </element>
    <optional>
      <ref name="Feedback"/>
    </optional>
    <zeroOrMore>
      <ref name="Hint"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="Answer"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="Solution"/>
    </zeroOrMore>
  </define>
  <!-- General feedback element -->
  <define name="Feedback">
    <element name="feedback">
      <ref name="MetaDataTitleOptional"/>
      <oneOrMore>
        <ref name="BlockSolution"/>
      </oneOrMore>
    </element>
  </define>
  <!--
    Fill-in-the-blank exercises: randomized setup, then evaluation.
    Content model per the FITB maintainer (Brian Walton), issue #2980.
  -->
  <define name="FillInBlank">
    <ref name="MetaDataTitleOptional"/>
    <optional>
      <attribute name="number"/>
    </optional>
    <ref name="StatementExercise"/>
    <interleave>
      <optional>
        <ref name="Setup"/>
      </optional>
      <ref name="Evaluation"/>
      <zeroOrMore>
        <ref name="Hint"/>
      </zeroOrMore>
      <zeroOrMore>
        <ref name="Answer"/>
      </zeroOrMore>
      <zeroOrMore>
        <ref name="Solution"/>
      </zeroOrMore>
    </interleave>
  </define>
  <!--
    Problem setup: named objects defined sequentially (later ones
    may reference earlier ones), then optional raw-Javascript hooks.
    A missing @seed makes any randomization unpredictable, so the
    FITB machinery warns; but setup has non-randomizing uses too.
  -->
  <define name="Setup">
    <element name="setup">
      <optional>
        <attribute name="seed"/>
      </optional>
      <zeroOrMore>
        <ref name="DEObject"/>
      </zeroOrMore>
      <optional>
        <element name="setupScript">
          <text/>
        </element>
      </optional>
      <optional>
        <element name="postRenderScript">
          <text/>
        </element>
      </optional>
    </element>
  </define>
  <define name="DEObject">
    <element name="de-object">
      <attribute name="name"/>
      <attribute name="context">
        <choice>
          <value>number</value>
          <value>formula</value>
        </choice>
      </attribute>
      <choice>
        <ref name="DERandom"/>
        <ref name="DENumber"/>
        <ref name="DEExpression"/>
        <ref name="DEEvaluate"/>
      </choice>
    </element>
  </define>
  <!--
    A random number; @distribution may grow beyond "discrete".
    @by defaults to 1; @nonzero omitted means "no".
  -->
  <define name="DERandom">
    <element name="de-random">
      <attribute name="distribution">
        <value>discrete</value>
      </attribute>
      <attribute name="min"/>
      <attribute name="max"/>
      <optional>
        <attribute name="by"/>
      </optional>
      <optional>
        <attribute name="nonzero">
          <value>yes</value>
        </attribute>
      </optional>
      <empty/>
    </element>
  </define>
  <!--
    Text parses to a formula representing a constant (no free
    variables).  @reduce determines if the internal
    representation is simplified or not.
  -->
  <define name="DENumber">
    <element name="de-number">
      <optional>
        <attribute name="reduce">
          <value>yes</value>
        </attribute>
      </optional>
      <text/>
    </element>
  </define>
  <!-- A formula; the content model follows @mode -->
  <define name="DEExpression">
    <element name="de-expression">
      <optional>
        <attribute name="reduce">
          <value>yes</value>
        </attribute>
      </optional>
      <choice>
        <group>
          <optional>
            <attribute name="mode">
              <value>formula</value>
            </attribute>
          </optional>
          <text/>
        </group>
        <group>
          <attribute name="mode">
            <value>substitution</value>
          </attribute>
          <ref name="DEFormula"/>
          <ref name="DEVariableValued"/>
        </group>
        <group>
          <attribute name="mode">
            <value>derivative</value>
          </attribute>
          <ref name="DEFormula"/>
          <ref name="DEVariableEmpty"/>
        </group>
      </choice>
    </element>
  </define>
  <!-- The evaluated (numeric) version of a formula -->
  <define name="DEEvaluate">
    <element name="de-evaluate">
      <optional>
        <attribute name="reduce">
          <value>yes</value>
        </attribute>
      </optional>
      <ref name="DEFormula"/>
      <ref name="DEVariableValued"/>
    </element>
  </define>
  <!--
    A reference to some other formula, from which a new one is
    derived.  (de-random and de-number are technically possible
    here but have no practical use, so are not admitted.)
  -->
  <define name="DEFormula">
    <element name="formula">
      <choice>
        <ref name="DEExpression"/>
        <ref name="DEEvaluate"/>
        <ref name="Eval"/>
      </choice>
    </element>
  </define>
  <!--
    The variable of a substitution or evaluation carries its
    value; plain-text values happen to work as raw Javascript
    automatically wrapped in de-number
  -->
  <define name="DEVariableValued">
    <element name="variable">
      <attribute name="name"/>
      <choice>
        <ref name="Eval"/>
        <ref name="DENumber"/>
        <ref name="DEExpression"/>
        <ref name="DEEvaluate"/>
      </choice>
    </element>
  </define>
  <!-- The variable of a differentiation is name-only -->
  <define name="DEVariableEmpty">
    <element name="variable">
      <attribute name="name"/>
      <empty/>
    </element>
  </define>
  <!--
    An inline reference to a named setup object: within
    mathematics it renders as the TeX form of the object,
    elsewhere as its plain string form.  Admitted anywhere
    text or mathematics occurs (statements, solutions,
    feedback of dynamic exercises are where it is useful).
  -->
  <define name="Eval">
    <element name="eval">
      <attribute name="obj"/>
      <empty/>
    </element>
  </define>
  <!-- eval joins the inline unions (development schema only) -->
  <define name="TextParagraphItem" combine="choice">
    <ref name="Eval"/>
  </define>
  <define name="MathInlineItem" combine="choice">
    <ref name="Eval"/>
  </define>
  <define name="MathRowItem" combine="choice">
    <ref name="Eval"/>
  </define>
  <define name="Evaluation">
    <element name="evaluation">
      <optional>
        <attribute name="answers-coupled">
          <choice>
            <value>yes</value>
            <value>no</value>
          </choice>
        </attribute>
      </optional>
      <oneOrMore>
        <ref name="Evaluate"/>
      </oneOrMore>
    </element>
  </define>
  <!--
    An "evaluate" with @all="yes" tests correctness of ALL the
    blanks (optional; meaningful with several blanks).  The
    maintainer describes an optional trailing "feedback" here;
    observed usage places feedback inside "test", so both are
    admitted.
  -->
  <define name="Evaluate">
    <element name="evaluate">
      <optional>
        <attribute name="name"/>
      </optional>
      <optional>
        <attribute name="submit"/>
      </optional>
      <optional>
        <attribute name="all">
          <choice>
            <value>yes</value>
            <value>no</value>
          </choice>
        </attribute>
      </optional>
      <oneOrMore>
        <ref name="FITBTest"/>
      </oneOrMore>
      <optional>
        <ref name="Feedback"/>
      </optional>
    </element>
  </define>
  <!--
    At most one test should carry @correct="yes", determining
    correctness of a submission (unclosed by this schema); with
    none, the provided answer or answer object is the default
    comparison.  A test holds a single numcmp or strcmp, OR any
    number of jscmp/mathcmp/logic combined with an implied AND.
  -->
  <define name="FITBTest">
    <element name="test">
      <optional>
        <attribute name="correct">
          <choice>
            <value>yes</value>
            <value>no</value>
          </choice>
        </attribute>
      </optional>
      <choice>
        <ref name="FITBNumcmp"/>
        <ref name="FITBStrcmp"/>
        <oneOrMore>
          <choice>
            <ref name="FITBJscmp"/>
            <ref name="FITBMathcmp"/>
            <ref name="FITBLogic"/>
          </choice>
        </oneOrMore>
      </choice>
      <optional>
        <ref name="Feedback"/>
      </optional>
    </element>
  </define>
  <define name="FITBComparison">
    <choice>
      <ref name="FITBNumcmp"/>
      <ref name="FITBStrcmp"/>
      <ref name="FITBJscmp"/>
      <ref name="FITBMathcmp"/>
      <ref name="FITBLogic"/>
    </choice>
  </define>
  <define name="FITBNumcmp">
    <element name="numcmp">
      <optional>
        <attribute name="use-answer">
          <choice>
            <value>yes</value>
            <value>no</value>
          </choice>
        </attribute>
      </optional>
      <optional>
        <attribute name="value"/>
      </optional>
      <optional>
        <attribute name="tolerance"/>
      </optional>
      <optional>
        <attribute name="min"/>
      </optional>
      <optional>
        <attribute name="max"/>
      </optional>
      <optional>
        <attribute name="object"/>
      </optional>
    </element>
  </define>
  <define name="FITBStrcmp">
    <element name="strcmp">
      <optional>
        <attribute name="use-answer">
          <choice>
            <value>yes</value>
            <value>no</value>
          </choice>
        </attribute>
      </optional>
      <optional>
        <attribute name="literal">
          <value>yes</value>
        </attribute>
      </optional>
      <optional>
        <attribute name="case">
          <value>insensitive</value>
        </attribute>
      </optional>
      <optional>
        <attribute name="strip">
          <value>no</value>
        </attribute>
      </optional>
      <text/>
    </element>
  </define>
  <define name="FITBJscmp">
    <element name="jscmp">
      <text/>
    </element>
  </define>
  <!--
    Compare the submission to the provided answer
    (@use-answer), to a named setup object (@obj), or to one
    constructed child object; two children compare with each
    other instead.  Children use the same building blocks as
    setup does.
  -->
  <define name="FITBMathcmp">
    <element name="mathcmp">
      <optional>
        <choice>
          <attribute name="use-answer">
            <value>yes</value>
          </attribute>
          <attribute name="obj"/>
          <group>
            <choice>
              <ref name="DENumber"/>
              <ref name="DEExpression"/>
              <ref name="DEEvaluate"/>
              <ref name="Eval"/>
            </choice>
            <optional>
              <choice>
                <ref name="DENumber"/>
                <ref name="DEExpression"/>
                <ref name="DEEvaluate"/>
                <ref name="Eval"/>
              </choice>
            </optional>
          </group>
        </choice>
      </optional>
    </element>
  </define>
  <define name="FITBLogic">
    <element name="logic">
      <attribute name="op">
        <choice>
          <value>and</value>
          <value>or</value>
          <value>not</value>
        </choice>
      </attribute>
      <oneOrMore>
        <ref name="FITBComparison"/>
      </oneOrMore>
    </element>
  </define>
  <!--
    Extended fillin with interactive attributes (extends the inline
    text fill-in blank; the bare "FillIn" name was orphaned)
  -->
  <define name="FillInText" combine="choice">
    <element name="fillin">
      <optional>
        <attribute name="characters">
          <data type="integer"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="cols">
          <data type="integer"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="rows">
          <data type="integer"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="width"/>
      </optional>
      <optional>
        <attribute name="answer"/>
      </optional>
      <optional>
        <attribute name="mode">
          <choice>
            <value>string</value>
            <value>number</value>
            <value>math</value>
          </choice>
        </attribute>
      </optional>
      <optional>
        <attribute name="name"/>
      </optional>
      <optional>
        <attribute name="ansobj"/>
      </optional>
      <optional>
        <attribute name="fill"/>
      </optional>
    </element>
  </define>
  <!-- Datafile element for student data -->
  <define name="Datafile">
    <element name="datafile">
      <optional>
        <ref name="UniqueID"/>
      </optional>
      <optional>
        <ref name="LabelID"/>
      </optional>
      <optional>
        <ref name="Component"/>
      </optional>
      <attribute name="filename"/>
      <optional>
        <attribute name="rows">
          <data type="integer"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="cols">
          <data type="integer"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="editable">
          <choice>
            <value>yes</value>
            <value>no</value>
          </choice>
        </attribute>
      </optional>
      <choice>
        <element name="pre">
          <optional>
            <attribute name="source"/>
          </optional>
          <text/>
        </element>
        <ref name="Image"/>
      </choice>
    </element>
  </define>
  <define name="BlockStatement" combine="choice">
    <ref name="Datafile"/>
  </define>
  <!-- Query (poll/survey) element -->
  <define name="Query">
    <element name="query">
      <optional>
        <ref name="LabelID"/>
      </optional>
      <optional>
        <attribute name="scale">
          <data type="integer"/>
        </attribute>
      </optional>
      <ref name="StatementExercise"/>
      <optional>
        <element name="choices">
          <oneOrMore>
            <ref name="Choice"/>
          </oneOrMore>
        </element>
      </optional>
    </element>
  </define>
  <define name="BlockStatement" combine="choice">
    <ref name="Query"/>
  </define>
  <!--
    Coding exercise: an interactive program (typically
    activecode) whose "tests" hold unit tests
  -->
  <define name="CodingExercise">
    <ref name="MetaDataTitleOptional"/>
    <optional>
      <attribute name="number"/>
    </optional>
    <ref name="StatementExercise"/>
    <ref name="Program"/>
    <zeroOrMore>
      <ref name="Hint"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="Answer"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="Solution"/>
    </zeroOrMore>
  </define>
  <!-- Include all exercise types in exercise and activity -->
  <define name="Exercise" combine="choice">
    <element name="exercise">
      <optional>
        <attribute name="workspace"/>
      </optional>
      <choice>
        <ref name="MyOpenMath"/>
        <ref name="TrueFalse"/>
        <ref name="MultipleChoice"/>
        <ref name="Parsons"/>
        <ref name="Matching"/>
        <ref name="FreeResponse"/>
        <ref name="FillInBlank"/>
        <ref name="Areas"/>
        <ref name="CodingExercise"/>
      </choice>
    </element>
  </define>
  <!-- STACK assessment exercise type -->
  <define name="Exercise" combine="choice">
    <element name="exercise">
      <ref name="MetaDataTitleOptional"/>
      <optional>
        <ref name="IntroductionStatement"/>
      </optional>
      <element name="stack">
        <optional>
          <ref name="LabelID"/>
        </optional>
        <optional>
          <attribute name="source"/>
        </optional>
      </element>
      <optional>
        <ref name="ConclusionStatement"/>
      </optional>
    </element>
  </define>
  <define name="ProjectLike" combine="choice">
    <choice>
      <ref name="MyOpenMath"/>
      <ref name="TrueFalse"/>
      <ref name="MultipleChoice"/>
      <ref name="Parsons"/>
      <ref name="Matching"/>
      <ref name="FreeResponse"/>
      <ref name="FillInBlank"/>
      <ref name="Areas"/>
    </choice>
  </define>
</grammar>
