schema/pretext-dev.rnc


              namespace xhtml = "http://www.w3.org/1999/xhtml"
                grammar {

                include "pretext.rnc"
            
            Interactive =
                element interactive {
                    UniqueID?,
                    LabelID?,
                    Component?,
                    attribute aspect { text }?,
                    attribute width { text }?,
                    attribute platform { text }?,
                    attribute preview { text }?,
                    attribute iframe { text }?,
                    attribute source { text }?,
                    attribute version { text }?,
                    attribute circuitjs { text }?,
                    attribute calcplot3d { text }?,
                    attribute geogebra { text }?,
                    attribute desmos { text }?,
                    # currently only consumed by the CalcPlot3D flavor;
                    # widen this enum if another flavor adopts "@variant"
                    attribute variant { "application" | "controls" | "minimal" }?,
                    attribute dark-mode-enabled { text }?,
                    attribute resize-behavior { text }?,
                    attribute css { text }?,
                    attribute design-width { text }?,
                    attribute reset-icon { text }?,
                    (
                      ImageShortDescription? &
                      ImageDescription? &
                      (
                        Slate |
                        SideBySideNoNumber |
                        SideBySideGroupNoNumber
                      )* &
                      element script { attribute type { text }?, text }* &
                      element source { text }? &
                      element instructions { mixed { MetaDataTitleOptional, BlockText+ } }? &
                      element static { Image }?
                    )

                }

            Stack |=
                element stack {
                    (
                        Tabular |
                        Image |
                        Program |
                        Console |
                        Paragraph |
                        Preformatted |
                        List |
                        Slate
                    )+
                }

            Slate =
                element slate {
                    UniqueID?,
                    LabelID?,
                    Component?,
                    (
                      JessieCodeAtt |
                      (
                        attribute surface { text },
                        (
                          attribute source { text } |
                          attribute material { text }
                        )?,
                        attribute aspect { text }?,
                        attribute perspective { text }?,
                        (
                          Paragraph |
                          Tabular |
                          SideBySideNoNumber |
                          SlateInput |
                          AnyXhtml |
                          element xhtml:button {
                            attribute type { text },
                            attribute id { text },
                            text*
                          }? |
                          text*
                        )*
                      )
                    )
                }

              JessieCodeAtt =
                attribute surface {"jessiecode"},
                attribute axis {"true" | "false"}?,
                attribute grid {"true" | "false"}?,
                (
                  attribute source {text} |
                  text*
                )

              SlateInput =
                element input {
                  attribute type {text}?,
                  attribute value {text}?,
                  attribute onkeypress {text}?,
                  attribute onclick {text}?,
                  attribute style {text}?
                }

              # A slate with surface="html" embeds an arbitrary XHTML fragment.
              AnyXhtml =
                element xhtml:* {
                  (attribute * { text })*,
                  mixed { AnyXhtml* }
                }

            # add Interactives where used
            BlockStatement |= Interactive

            Figure |= element figure { MetaDataCaption, Interactive }

            SideBySide |= element sidebyside {
                SidebySideAttributes,
                Slate+
            }

            SideBySideNoNumber |= element sidebyside {
                SidebySideAttributes,
                Slate+
            }

            Exercises |= element exercises {
                MetaDataAltTitleOptional,
                IntroductionDivision?,
                (
                (Exercise | ExerciseGroup)+ |
                Subexercises+ | Interactive
                ),
                ConclusionDivision?
            }
            
            ShortLicense_X =
                element shortlicense {
                    TextLong &
                    Footnote*
                }
            ShortLicense |= ShortLicense_X
            Website_X = element website {
                element name {TextShort},
                element address {text}
            }
            Website |= Website_X
            
            Configuration |=
                element blurb {
                    attribute shelf {text}?,
                    text
                }
            
            Configuration |=
                element document-id {
                    attribute edition {text}?,
                    text
                }
            
            ProofLike =
                MetaDataTitleOptional,
                (BlockStatement | Case)+
            Proof |=
                element proof {ProofLike} |
                element argument {ProofLike} |
                element justification {ProofLike} |
                element reasoning {ProofLike} |
                element explanation {ProofLike}
            
            Figure |=
                element figure {
                    MetaDataCaption,
                    Tabular
                }

            
            # Main handout definition
            Handout =
                element handout {
                    PrintoutAttributes,
                    MetaDataAltTitleOptional,
                    (Objectives? & IntroductionDivision?),
                    (Page+ | PrintoutBlock+),
                    (Outcomes? & ConclusionDivision?)
                }
            # Add Handout to Printout options
            Printout |=
                Handout
            
            Solutions |=
                element solutions {
                    MetaDataAltTitleOptional,
                    attribute inline {text}?,
                    attribute divisional {text}?,
                    attribute project {text}?,
                    attribute worksheet {text}?,
                    attribute reading {text}?,
                    attribute scope {text}?,
                    attribute admit {"all"|"odd"|"even"}?,
                    IntroductionDivision?,
                    ConclusionDivision?
                }
            
            MyOpenMath =
                MetaDataTitleOptional,
                IntroductionText?,
                element myopenmath {
                    attribute problem {text},
                    attribute params {text}?
                },
                ConclusionText?
            TrueFalse =
                MetaDataTitleOptional,
                attribute number {text}?,
                element statement {
                    attribute correct {"yes"|"no"},
                    Paragraph
                },
                Feedback?, Hint*, Answer*, Solution*
            MultipleChoice =
                MetaDataTitleOptional,
                attribute number {text}?,
                StatementExercise,
                element choices {
                    attribute randomize {"yes"|"no"}?,
                    Choice+
                },
                Hint*, Answer*, Solution*
            Choice =
                element choice {
                    attribute correct {"yes"|"no"}?,
                    ((mixed {BlockText?})
                    | (StatementExercise, Feedback?))
                }
            Parsons =
                    MetaDataTitleOptional,
                    attribute number {text}?,
                    attribute language {text}?,
                    attribute adaptive {"yes"|"no"}?,
                    attribute indentation {text}?,
                    StatementExercise,
                    element blocks {
                        attribute layout {"horizontal"}?,
                        attribute randomize {"yes"|"no"}?,
                        ( BlockOrdered+ | BlockUnordered+ )
                    },
                    Hint*, Answer*, Solution*,
                    (
                        element preamble {
                            attribute indent {text}?,
                            text
                        }?,
                        Program,
                        element postamble {
                            attribute indent {text}?,
                            text
                        }?
                    )?
            BlockBody =
                ((
                    attribute correct {"yes"|"no"}?,
                    mixed {BlockText?, CodeLine?}+
                ) |
                (
                    element choice {
                        attribute correct {"yes"|"no"}?,
                        mixed {BlockText?, CodeLine?}+
                    }+
                ))
            BlockOrdered =
                element block {
                    attribute order {xsd:integer},
                    BlockBody
                }
            BlockUnordered =
                element block {
                    BlockBody
                }
            Matching =
                MetaDataTitleOptional,
                attribute number {text}?,
                StatementExercise,
                Feedback?,
                Matches,
                Hint*, Answer*, Solution*
            Matches = (
                element cardsort {
                    Match+
                } |
                element matching {
                    element premise {
                        attribute ref {text}?,
                        TextLong
                    }+,
                    element response {
                        UniqueID,
                        attribute order {xsd:integer}?,
                        TextLong
                    }+
                })
            Match =
                element match {
                    element premise {
                        attribute order {xsd:integer}?,
                        TextLong
                    }+,
                    element response {
                        TextLong
                    }
                }
            FreeResponse =
                MetaDataTitleOptional,
                attribute number {text}?,
                attribute attachment {"yes" | "no"}?,
                (
                (ExerciseBody, Response?) |
                (StatementExercise, Response?, Hint*, Answer*, Solution*) |
                (IntroductionStatement?, Task+, ConclusionStatement?)
                )
            Response =
                element response {empty}


            # Selectable areas
            Area =
                element area {
                    attribute correct {"yes"|"no"}?,
                    TextLong
                }
            TextLongAreas =  mixed { (
                  Area |
                  Character |
                  Generator |
                  Verbatim |
                  GroupAreas |
                  MathInline |
                  Music |
                  Reference |
                  WWVariable)* }
            GroupAreas |=
                element q {TextLongAreas} |
                element sq {TextLongAreas}
            TextParagraphAreas = mixed { (
              Character |
              Generator |
              Verbatim |
              Group |
              WWVariable |
              MathInline |
              Music |
              Reference |
              CodeDisplay |
              MathDisplay |
              List |
              Footnote |
              Notation |
              Index |
              Area |
              GroupAreas)* }
            ParagraphAreas =
                element p {
                    UniqueID?,
                    LabelID?,
                    Component?,
                    TextParagraphAreas
                }
            Areas =
                MetaDataTitleOptional,
                attribute number {text}?,
                StatementExercise,
                element areas {
                  ParagraphAreas+
                },
                Feedback?,
                Hint*, Answer*, Solution*

            # General feedback element
            Feedback =
                element feedback {
                    MetaDataTitleOptional,
                    BlockSolution+
                }
            # Fill-in-the-blank exercises: randomized setup, then evaluation.
            # Content model per the FITB maintainer (Brian Walton), issue #2980.
            FillInBlank =
                MetaDataTitleOptional,
                attribute number {text}?,
                StatementExercise,
                (Setup? & Evaluation & Hint* & Answer* & Solution*)
            # Problem setup: named objects defined sequentially (later ones
            # may reference earlier ones), then optional raw-Javascript hooks.
            # A missing @seed makes any randomization unpredictable, so the
            # FITB machinery warns; but setup has non-randomizing uses too.
            Setup =
                element setup {
                    attribute seed {text}?,
                    DEObject*,
                    element setupScript {text}?,
                    element postRenderScript {text}?
                }
            DEObject =
                element de-object {
                    attribute name {text},
                    attribute context {"number" | "formula"},
                    (DERandom | DENumber | DEExpression | DEEvaluate)
                }
            # A random number; @distribution may grow beyond "discrete".
            # @by defaults to 1; @nonzero omitted means "no".
            DERandom =
                element de-random {
                    attribute distribution {"discrete"},
                    attribute min {text},
                    attribute max {text},
                    attribute by {text}?,
                    attribute nonzero {"yes"}?,
                    empty
                }
            # Text parses to a formula representing a constant (no free
            # variables).  N.B. @reduce here follows sample usage; the
            # maintainer's description lists it only on de-expression
            # and de-evaluate.
            DENumber =
                element de-number {
                    attribute reduce {"yes"}?,
                    text
                }
            # A formula; the content model follows @mode
            DEExpression =
                element de-expression {
                    attribute reduce {"yes"}?,
                    (
                        (attribute mode {"formula"}?, text) |
                        (attribute mode {"substitution"}, DEFormula, DEVariableValued) |
                        (attribute mode {"derivative"}, DEFormula, DEVariableEmpty)
                    )
                }
            # The evaluated (numeric) version of a formula
            DEEvaluate =
                element de-evaluate {
                    attribute reduce {"yes"}?,
                    DEFormula,
                    DEVariableValued
                }
            # A reference to some other formula, from which a new one is
            # derived.  (de-random and de-number are technically possible
            # here but have no practical use, so are not admitted.)
            DEFormula =
                element formula {
                    DEExpression | DEEvaluate | Eval
                }
            # The variable of a substitution or evaluation carries its
            # value; plain-text values happen to work as raw Javascript
            # but are deliberately NOT valid
            DEVariableValued =
                element variable {
                    attribute name {text},
                    (Eval | DENumber | DEExpression)
                }
            # The variable of a differentiation is name-only
            DEVariableEmpty =
                element variable {
                    attribute name {text},
                    empty
                }
            # An inline reference to a named setup object: within
            # mathematics it renders as the TeX form of the object,
            # elsewhere as its plain string form.  Admitted anywhere
            # text or mathematics occurs (statements, solutions,
            # feedback of dynamic exercises are where it is useful).
            Eval =
                element eval {
                    attribute obj {text},
                    empty
                }
            # eval joins the inline unions (development schema only)
            TextParagraphItem |= Eval
            MathInlineItem |= Eval
            MathRowItem |= Eval
            Evaluation =
                element evaluation {
                    attribute answers-coupled {"yes"|"no"}?,
                    Evaluate+
                }
            # An "evaluate" with @all="yes" tests correctness of ALL the
            # blanks (optional; meaningful with several blanks).  The
            # maintainer describes an optional trailing "feedback" here;
            # observed usage places feedback inside "test", so both are
            # admitted.
            Evaluate =
                element evaluate {
                    attribute name {text}?,
                    attribute submit {text}?,
                    attribute all {"yes"|"no"}?,
                    FITBTest+,
                    Feedback?
                }
            # At most one test should carry @correct="yes", determining
            # correctness of a submission (unclosed by this schema); with
            # none, the provided answer or answer object is the default
            # comparison.  A test holds a single numcmp or strcmp, OR any
            # number of jscmp/mathcmp/logic combined with an implied AND.
            FITBTest =
                element test {
                    attribute correct {"yes"|"no"}?,
                    (FITBNumcmp | FITBStrcmp | (FITBJscmp | FITBMathcmp | FITBLogic)+),
                    Feedback?
                }
            FITBComparison =
                FITBNumcmp | FITBStrcmp | FITBJscmp | FITBMathcmp | FITBLogic
            FITBNumcmp =
                element numcmp {
                    attribute use-answer {"yes"|"no"}?,
                    attribute value {text}?,
                    attribute tolerance {text}?,
                    attribute min {text}?,
                    attribute max {text}?,
                    attribute object {text}?
                }
            FITBStrcmp =
                element strcmp {
                    attribute use-answer {"yes"|"no"}?,
                    attribute literal {"yes"}?,
                    attribute case {"insensitive"}?,
                    attribute strip {"no"}?,
                    text
                }
            FITBJscmp =
                element jscmp {
                    text
                }
            # Compare the submission to the provided answer
            # (@use-answer), to a named setup object (@obj), or to one
            # constructed child object; two children compare with each
            # other instead.  Children use the same building blocks as
            # setup does.
            FITBMathcmp =
                element mathcmp {
                    (
                        attribute use-answer {"yes"} |
                        attribute obj {text} |
                        ((DENumber | DEExpression | DEEvaluate | Eval),
                         (DENumber | DEExpression | DEEvaluate | Eval)?)
                    )?
                }
            FITBLogic =
                element logic {
                    attribute op {"and"|"or"|"not"},
                    (FITBComparison)+
                }
            # Extended fillin with interactive attributes (extends the inline
            # text fill-in blank; the bare "FillIn" name was orphaned)
            FillInText |=
                element fillin {
                    attribute characters {xsd:integer}?,
                    attribute cols {xsd:integer}?,
                    attribute rows {xsd:integer}?,
                    attribute width {text}?,
                    attribute answer {text}?,
                    attribute mode {"string"|"number"|"math"}?,
                    attribute name {text}?,
                    attribute ansobj {text}?,
                    attribute fill {text}?
                }

            # Datafile element for student data
            Datafile =
                element datafile {
                    UniqueID?,
                    LabelID?,
                    Component?,
                    attribute filename {text},
                    attribute rows {xsd:integer}?,
                    attribute cols {xsd:integer}?,
                    attribute editable {"yes"|"no"}?,
                    (
                        element pre {
                            attribute source {text}?,
                            text
                        } |
                        Image
                    )
                }
            BlockStatement |= Datafile

            # Query (poll/survey) element
            Query =
                element query {
                    LabelID?,
                    attribute scale {xsd:integer}?,
                    StatementExercise,
                    element choices {
                        Choice+
                    }?
                }
            BlockStatement |= Query

            # Coding exercise: an interactive program (typically
            # activecode) whose "tests" hold unit tests
            CodingExercise =
                MetaDataTitleOptional,
                attribute number {text}?,
                StatementExercise,
                Program,
                Hint*, Answer*, Solution*
            # Include all exercise types in exercise and activity
            Exercise |=
                element exercise {
                    attribute workspace {text}?,
                    (
                    MyOpenMath |
                    TrueFalse |
                    MultipleChoice |
                    Parsons |
                    Matching |
                    FreeResponse |
                    FillInBlank |
                    Areas |
                    CodingExercise
                    )
                }
            # STACK assessment exercise type
            Exercise |=
                element exercise {
                    MetaDataTitleOptional,
                    IntroductionStatement?,
                    element stack {
                        LabelID?,
                        attribute source {text}?
                    },
                    ConclusionStatement?
                }
            ProjectLike |=
                MyOpenMath |
                TrueFalse |
                MultipleChoice |
                Parsons |
                Matching |
                FreeResponse |
                FillInBlank |
                Areas
            
                }
            