schema/pretext-dev.rnc


              namespace xhtml = "http://www.w3.org/1999/xhtml"
                grammar {

                include "pretext.rnc"
            
            Interactive =
                element interactive {
                    UniqueID?,
                    LabelID?,
                    Component?,
                    attribute aspect { text }?,
                    attribute width { text }?,
                    attribute platform { text }?,
                    attribute preview { text }?,
                    attribute iframe { text }?,
                    attribute source { text }?,
                    attribute version { text }?,
                    attribute circuitjs { text }?,
                    attribute calcplot3d { text }?,
                    attribute variant { text }?,
                    attribute dark-mode-enabled { text }?,
                    attribute resize-behavior { text }?,
                    (
                      ImageShortDescription? &
                      ImageDescription? &
                      (
                        Slate |
                        SideBySideNoCaption |
                        SideBySideGroupNoCaption
                      )* &
                      element instructions { mixed { MetaDataTitleOptional, BlockText } }? &
                      element static { Image }?
                    )

                }

            Stack |=
                element stack {
                    (
                        Tabular |
                        Image |
                        Video |
                        Program |
                        Console |
                        Paragraph |
                        Preformatted |
                        List |
                        Slate
                    )+
                }

            Slate =
                element slate {
                    UniqueID?,
                    LabelID?,
                    Component?,
                    (
                      JessieCodeAtt |
                      (
                        attribute surface { text },
                        (
                          attribute source { text } |
                          attribute material { text }
                        )?,
                        attribute aspect { text }?,
                        (
                          Paragraph |
                          Tabular |
                          SideBySideNoCaption |
                          SlateInput |
                          element xhtml:button {
                            attribute type { text },
                            attribute id { text },
                            text*
                          }? |
                          text*
                        )*
                      )
                    )
                }

              JessieCodeAtt =
                attribute surface {"jessiecode"},
                attribute axis {"true" | "false"}?,
                attribute grid {"true" | "false"}?,
                (
                  attribute source {text} |
                  text*
                )

              SlateInput =
                element input {
                  attribute type {text}?,
                  attribute value {text}?,
                  attribute onkeypress {text}?,
                  attribute onclick {text}?,
                  attribute style {text}?
                }

            # add Interactives where used
            BlockStatement |= Interactive

            Figure |= element figure { MetaDataCaption, Interactive }

            SideBySide |= element sidebyside {
                SidebySideAttributes,
                (Interactive | Slate)+
            }

            SideBySideNoCaption |= element sidebyside {
                SidebySideAttributes,
                (Interactive | Slate)+
            }

            Exercises |= element exercises {
                MetaDataAltTitleOptional,
                IntroductionDivision?,
                (
                (Exercise | ExerciseGroup)+ |
                Subexercises+ | Interactive
                ),
                ConclusionDivision?
            }
            
            ShortLicense_X =
                element shortlicense {
                    TextLong &
                    Footnote*
                }
            ShortLicense |= ShortLicense_X
            Website_X = element website {
                element name {TextShort},
                element address {text}
            }
            Website |= Website_X
            
            Configuration |=
                element blurb {
                    attribute shelf {text},
                    text
                }
            
            Configuration |=
                element document-id {
                    attribute edition {text}?,
                    text
                }
            
            ProofLike =
                MetaDataTitleOptional,
                (BlockStatement | Case)+
            Proof |=
                element proof {ProofLike} |
                element argument {ProofLike} |
                element justification {ProofLike} |
                element reasoning {ProofLike} |
                element explanation {ProofLike}
            
            Figure |=
                element figure {
                    MetaDataCaption,
                    Tabular
                }

            
            # Main handout definition
            Handout =
                element handout {
                    PrintoutAttributes,
                    MetaDataAltTitleOptional,
                    (Objectives? & IntroductionDivision?),
                    (Page+ | PrintoutBlock+),
                    (Outcomes? & ConclusionDivision?)
                }
            # Add Handout to Printout options
            Printout |=
                Handout
            
            Solutions |=
                element solutions {
                    MetaDataAltTitleOptional,
                    attribute inline {text}?,
                    attribute divisional {text}?,
                    attribute project {text}?,
                    attribute worksheet {text}?,
                    attribute reading {text}?,
                    attribute scope {text}?,
                    attribute admit {"all"|"odd"|"even"}?,
                    IntroductionDivision?,
                    ConclusionDivision?
                }
            
            MathDisplay |=
                element me {
                    MetaDataTarget?,
                    mixed {(Xref | FillInMath | WWVariable)*}
                } |
                element men {
                    MetaDataTarget?,
                    mixed {(Xref | FillInMath | WWVariable)*}
                } |
                element md {
                    attribute number {"yes" | "no"}?,
                    attribute break {"yes" | "no"}?,
                    attribute alignment {text}?,
                    attribute alignat-columns {text}?,
                    (
                    (mixed {(Xref | FillInMath | WWVariable)*}) |
                    (MathRow, (MathRow | MathIntertext)*)
                    )
                } |
                element mdn {
                    attribute number {"yes" | "no"}?,
                    attribute break {"yes" | "no"}?,
                    attribute alignment {text}?,
                    attribute alignat-columns {text}?,
                    MathRow,
                    (MathRow | MathIntertext)*
                }
            
            MyOpenMath =
                MetaDataTitleOptional,
                IntroductionText?,
                element myopenmath {
                    attribute problem {text},
                    attribute params {text}?
                },
                ConclusionText?
            TrueFalse =
                MetaDataTitleOptional,
                attribute number {text}?,
                element statement {
                    attribute correct {"yes"|"no"},
                    Paragraph
                },
                Feedback?, Hint*, Answer*, Solution*
            MultipleChoice =
                MetaDataTitleOptional,
                attribute number {text}?,
                StatementExercise,
                element choices {
                    attribute randomize {"yes"|"no"}?,
                    Choice+
                },
                Hint*, Answer*, Solution*
            Choice =
                element choice {
                    attribute correct {"yes"|"no"}?,
                    ((mixed {BlockText?})
                    | (StatementExercise, Feedback?))
                }
            Parsons =
                    MetaDataTitleOptional,
                    attribute number {text}?,
                    attribute language {text}?,
                    attribute adaptive {"yes"|"no"}?,
                    attribute indentation {text}?,
                    StatementExercise,
                    element blocks {
                        attribute layout {"horizontal"}?,
                        attribute randomize {"yes"|"no"}?,
                        Block+
                    },
                    Hint*, Answer*, Solution*,
                    (
                        element preamble {
                            attribute indent {text}?,
                            text
                        }?,
                        Program,
                        element postamble {
                            attribute indent {text}?,
                            text
                        }?
                    )?
            Block =
                element block {
                    attribute order {xsd:integer}?,
                    ((
                        attribute correct {"yes"|"no"}?,
                        mixed {BlockText?, CodeLine?}+
                    ) |
                    (
                        element choice {
                            attribute correct {"yes"|"no"}?,
                            mixed {BlockText?, CodeLine?}+
                        }+
                    ))
                }
            Matching =
                MetaDataTitleOptional,
                attribute number {text}?,
                StatementExercise,
                Feedback?,
                Matches,
                Hint*, Answer*, Solution*
            Matches = (
                element cardsort {
                    Match+
                } |
                element matching {
                    element premise {
                        attribute ref {text}?,
                        TextLong
                    }+,
                    element response {
                        UniqueID,
                        attribute order {xsd:integer}?,
                        TextLong
                    }+
                })
            Match =
                element match {
                    element premise {
                        attribute order {xsd:integer}?,
                        TextLong
                    }+,
                    element response {
                        TextLong
                    }
                }
            FreeResponse =
                MetaDataTitleOptional,
                attribute number {text}?,
                attribute attachment {"yes" | "no"}?,
                (
                (ExerciseBody, Response?) |
                (StatementExercise, Response?, Hint*, Answer*, Solution*) |
                (IntroductionStatement?, Task+, ConclusionStatement?)
                )
            Response =
                element response {empty}


            # Selectable areas
            Area =
                element area {
                    attribute correct {"yes"|"no"}?,
                    TextLong
                }
            TextLongAreas =  mixed { (
                  Area |
                  Character |
                  Generator |
                  Verbatim |
                  GroupAreas |
                  MathInline |
                  Music |
                  Reference |
                  WWVariable)* }
            GroupAreas |=
                element q {TextLongAreas} |
                element sq {TextLongAreas}
            TextParagraphAreas = mixed { (
              Character |
              Generator |
              Verbatim |
              Group |
              WWVariable |
              MathInline |
              Music |
              Reference |
              CodeDisplay |
              MathDisplay |
              List |
              Footnote |
              Notation |
              Index |
              Area |
              GroupAreas)* }
            ParagraphAreas =
                element p {
                    UniqueID?,
                    LabelID?,
                    Component?,
                    TextParagraphAreas
                }
            Areas =
                MetaDataTitleOptional,
                attribute number {text}?,
                StatementExercise,
                Feedback?,
                element areas {
                  ParagraphAreas+
                },
                Hint*, Answer*, Solution*

            # General feedback element
            Feedback =
                element feedback {
                    MetaDataTitleOptional,
                    BlockSolution+
                }
            # Fill-in-the-blank exercises (new-style evaluation)
            FillInBlank =
                MetaDataTitleOptional,
                attribute number {text}?,
                StatementExercise,
                Evaluation,
                Hint*, Answer*, Solution*
            Evaluation =
                element evaluation {
                    attribute answers-coupled {"yes"|"no"}?,
                    Evaluate+
                }
            Evaluate =
                element evaluate {
                    attribute name {text}?,
                    attribute submit {text}?,
                    attribute all {"yes"|"no"}?,
                    FITBTest+
                }
            FITBTest =
                element test {
                    attribute correct {"yes"|"no"}?,
                    FITBComparison,
                    Feedback?
                }
            FITBComparison =
                FITBNumcmp | FITBStrcmp | FITBJscmp | FITBMathcmp | FITBLogic
            FITBNumcmp =
                element numcmp {
                    attribute use-answer {"yes"|"no"}?,
                    attribute value {text}?,
                    attribute tolerance {text}?,
                    attribute min {text}?,
                    attribute max {text}?,
                    attribute object {text}?
                }
            FITBStrcmp =
                element strcmp {
                    attribute use-answer {"yes"|"no"}?,
                    attribute case {"insensitive"}?,
                    attribute strip {"no"}?,
                    text
                }
            FITBJscmp =
                element jscmp {
                    text
                }
            FITBMathcmp =
                element mathcmp {
                    attribute obj {text}?,
                    mixed {AnyElement*}
                }
            FITBLogic =
                element logic {
                    attribute op {"and"|"or"|"not"},
                    (FITBComparison)+
                }
            AnyElement =
                element * {
                    attribute * {text}*,
                    mixed {AnyElement*}
                }
            # Extended fillin with interactive attributes
            FillIn |=
                element fillin {
                    attribute characters {xsd:integer}?,
                    attribute cols {xsd:integer}?,
                    attribute rows {xsd:integer}?,
                    attribute width {text}?,
                    attribute answer {text}?,
                    attribute mode {"string"|"number"|"math"}?,
                    attribute name {text}?,
                    attribute ansobj {text}?,
                    attribute fill {text}?
                }

            # Datafile element for student data
            Datafile =
                element datafile {
                    UniqueID?,
                    LabelID?,
                    Component?,
                    attribute filename {text},
                    attribute rows {xsd:integer}?,
                    attribute cols {xsd:integer}?,
                    attribute editable {"yes"|"no"}?,
                    attribute include-source {"yes"|"no"}?,
                    (
                        element pre {
                            attribute source {text}?,
                            text
                        } |
                        Image
                    )
                }
            BlockStatement |= Datafile

            # Query (poll/survey) element
            Query =
                element query {
                    LabelID?,
                    attribute scale {xsd:integer}?,
                    StatementExercise,
                    element choices {
                        Choice+
                    }?
                }
            BlockStatement |= Query

            # Include all exercise types in exercise and activity
            Exercise |=
                element exercise {
                    attribute workspace {text}?,
                    (
                    MyOpenMath |
                    TrueFalse |
                    MultipleChoice |
                    Parsons |
                    Matching |
                    FreeResponse |
                    FillInBlank |
                    Areas
                    )
                }
            # STACK assessment exercise type
            Exercise |=
                element exercise {
                    MetaDataTitleOptional,
                    IntroductionStatement?,
                    element stack {
                        LabelID?,
                        attribute source {text}?
                    },
                    ConclusionStatement?
                }
            ProjectLike |=
                MyOpenMath |
                TrueFalse |
                MultipleChoice |
                Parsons |
                Matching |
                FreeResponse |
                FillInBlank |
                Areas
            
                }
            