schema/xml.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://www.w3.org/XML/1998/namespace" xmlns:pf="https://prefigure.org">
  <xs:import schemaLocation="pretext.xsd"/>
  <xs:import namespace="https://prefigure.org" schemaLocation="pf.xsd"/>
  <xs:attribute name="lang"/>
  <xs:attribute name="id"/>
  <xs:attribute name="base"/>
</xs:schema>
